& {
  html, body {
    overscroll-behavior: contain !important;
  }
  .desktop{
    display: none;
  }
  .mob {
    display: block;
  }


  .roller {
    height: 26px;

    span {
      font-size: 11px;
      letter-spacing: 1px;
      padding: 0 20px;
    }
  }

  .nav {
    padding: 10px 0 20px;
  }
  .nav-main-box {
    transition: .4s;
    position: absolute;
    padding: 20px 0 30px;
    right: -100%;
    top: 85px;
    z-index: 9;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 301px;
    background-color: rgb(245, 245, 245);
  }
  .nav-main {
    flex-direction: column;
    justify-content: center;

    li {
      padding: 10px 0 0 0;
    }

    .link {
      &::before {
        background-color: #515151;
      }

      &:hover {
        color: #515151;
      }
    }
  }
  .show {
    right: 0px;
  }
  .logo {
    width: 90px;
    height: auto;
  }

  /*----------*/
  .header {
    background-image: url(../images/header-bg-mob-small.webp);
    // background-position: top;
    // margin-top: 25px;
    overflow-x: clip;
    padding-bottom: 14%;
  }

  .header-subtitle {
    // padding: 0 5px;
    // margin: 53% auto 20px;
    padding: 20px 5px 0;
    margin: 53% auto 20px;
  }
  .header .row .btn {
    width: 285px;
    padding: 0 70px;
  }
  .header .timer{
    margin-bottom: 21%;
  }

  /*----------*/
  .section-title {
    font-size: 44px;
  }

  /*----------*/
  .personal-psychologist {
    padding-top: 55px;
    margin-bottom: -5%;

    .section-title {
      margin: 0 0 25px;
    }
    .foto{
      max-width: 500px;
    }
  }
  /*----------*/
  .vhodit {
    background-image: url(../images/bg-1-mob.svg);
    padding: 60px 0 30px;

    .wrap{
      gap: 10px;
    }

    .btn{
      // max-width: 307px;
      max-width: 285px;
      justify-content: flex-start;
      // padding: 0 105px 0 50px;
      padding: 0 70px;
    }
  }
  /*----------*/
  .online-platf {
    padding: 60px 0 30px;

    .section-title {
      margin: 0 auto 30px;
    }
    .wrap {
      gap: 10px;
    }
    .block {
      margin-top: 0px;
    }
    .block-title {
      font-size: 24px;
    }
  }
  /*----------*/
  .temy {
    padding: 30px 0;

    .section-title {
      margin: 0 auto 20px;
    }
    .wrap {
      gap: 10px;
    }
    .block {
      min-height: auto;
      padding-bottom: 15px;
    }
    .text {
      padding: 0 16px;
    }
    .title-item{
      font-size: 18px;
      line-height: 24px;
      margin: 20px auto;
    }
    .btn{
      max-width: 307px;
      justify-content: flex-start;
      padding: 0 105px 0 50px;
    }
  }
  /*----------*/
  .club-for{
    background-image: url(../images/bg-2-mob.svg);
    padding: 60px 0;
    margin-top: 10px;

    .wrap{
      gap: 10px;
    }
    .block{
      flex-direction: column;
    }
    .bg-blue {
      img {
        margin: 0 auto;
      }
    }
    .text-col{
      padding: 0 20px 20px 20px;
    }
    .block-title{
      margin-top: 20px;
    }
  }
  /*----------*/
  .video {
    padding: 60px 0;

    .section-title {
      margin-bottom:  20px;
    }
  }
  /*----------*/
  .price{
    padding: 0;

    .section-title{
      margin-bottom: 20px;
      padding: 0 20px;
    }
    ul{
      margin-bottom: 30px;
    }
    li{
      padding-right: 5px;
    }
    .btn{
      max-width: 316px;
      width: 100%;
      padding: 0 100px 0 30px;
    }
  }
  /*----------*/
  .speaker {
    padding-top: 60px;
    margin-bottom: -3%;

    .section-title {
      text-align: center;
      margin: 0 auto 20px;
    }
    li {
      padding: 0 7px 20px 40px;
    }
    .foto{
      max-width: 500px;
    }
  }
  /*----------*/
  .speaker-tv {
    background-image: url(../images/bg-3-mob.svg);
    padding: 60px 0;

    .section-title {
      padding: 0 10px;
    }
  }
  /*----------*/
  .smi-list {
    margin: 20% auto 0;

    .slick-prev {
      left: -40px;
    }
    .slick-next {
      right: -40px;
    }
  }
  /*----------*/
  .slick-dots li {
    margin: 0 -5px;
  }
  .slick-prev,
  .slick-next {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .slick-prev {
    left: -25px;

    &:before {
      top: 6px;
      left: 8px;
    }
  }
  .slick-next {
    right: -25px;

    &:before {
      top: 6px;
      right: 8px;
    }
  }

  /*----------*/
  .answers {
    padding: 60px 0 0;
  }
  .answers-border {
    padding: 24px 10px 23px 20px;
  }
  .bg-arrow {
    padding: 0 13px;
    margin-left: 15px;
  }
  .accordion-content {
    .text,
    .disc,
    .line {
      padding: 18px 10px 0 0;
    }
  }
  /*----------*/
  .footer {
    margin-top: 60px;

    .row {
      padding: 30px 0 20px;
    }
    .flex-left {
      justify-content: center;
    }
    .logo {
      width: 90px;
      height: auto;
      margin: 0 auto;
    }
    ul {
      flex-direction: column;
      justify-content: center;
      margin: 15px 0;
    }
    li {
      margin-bottom: 10px;
    }
  }
  .flex-inline {
    flex-direction: column;
    max-width: 225px;
    margin: 0 auto;

    ul {
      margin: 0;
    }
    li {
      margin: 10px auto;
    }
  }
  ul.mail {
    margin: 0;

    li {
      padding-bottom: 0;
    }
  }

  /*=========*/
  .fancybox-content {
    max-width: 344px;
    padding: 20px;
  }
  .fancybox-content .section-title {
    font-size: 36px;
    margin-top: 25px;
  }
  .form-subtitle {
    font-size: 16px;
    max-width: 290px;
  }
  form input {
    width: 100%;
    height: 40px;
  }
  form label {
    padding-left: 0px;
    font-size: 16px;
  }
  form .btn {
    margin: 10px auto 0;
    max-width: 295px;
    width: 100%;
    height: 69px;
    padding: 0;
  }
  form .btn::after {
    height: 68px;
  }
  label[for="agree"] {
    font-size: 11px;
    padding: 14px 0 0;
  }
  form a,
  label[for=agree] {
    font-size: 11px;
  }

  /*=========*/
  @media screen and (max-width: 374px) {
    .header-subtitle {
      font-size: 17px;
      line-height: 22px;
      margin: 55% auto 20px;
    }
    .header .timer {
      margin-bottom: 40px;
    }
    .header .row .btn,
    .vhodit .btn,
    .temy .btn {
      max-width: 280px;
      width: 100%;
      justify-content: flex-start;
      padding-left: 20px;
      padding-right: 100px;
      height: 79px;

      .zirka {
        top: -22px;
      }
    }
    .section-title {
      font-size: 36px;
    }
    .vhodit {
      .block-title {
        font-size: 36px;
      }
      .text {
        padding: 10px 15px 0;
      }
    }
    .online-platf {
      .block {
        min-height: auto;
        padding: 10px 10px 20px;
      }
      .inline img {
        width: 60px;
        height: 60px;
        margin-right: 10px;
      }
    }
    .temy .text {
      padding: 0;
    }
    .club-for .text-col {
      padding: 0 10px 20px 10px;
    }
    .new {
      font-size: 42px;
    }
    .price .btn {
      max-width: 283px;
      width: 100%;
      padding: 0 100px 0 20px;
      font-size: 16px;
    }
    .speaker-tv .section-title {
      padding: 0 14px;
    }

    //--------
    .fancybox-content {
      max-height: 510px;
      padding: 15px;
    }
    .fancybox-close-small {
      margin: 0;
    }
    .fancybox-content .section-title {
      font-size: 34px;
    }
    form input {
      width: 100%;
    }
    form a,
    label[for=agree] {
      font-size: 11px;
    }
    form .btn {
      flex-direction: row;
      padding: 0;
    }
    //--------
    .fixed-block .title-block{
      font-size: 20px;
    }
    .fixed-block .btn {
      max-width: 160px;
      padding: 0px 5px;
    }
  }

  @media screen and (min-width: 379px) {
    .header{
      background-position: top;
    }
  }
  @media screen and (min-width: 424px) and (max-width: 599px) {
    .header-subtitle {
      margin-top: 58%;
    }
    .header .timer {
      margin-bottom: 10%;
    }
  }
  @media screen and (min-width: 520px) {
    .header {
      margin-top: 0;
      padding-top: 40px;
    }
    .header-subtitle {
      margin-top: 55%;
    }
  }
  @media screen and (min-width: 600px) and (max-width: 991px) {
    .header {
      background-image: url(../images/header-bg-tab.webp);
      background-position: bottom;
    }
    .header-subtitle {
      margin-top: 3%;
    }
    .header .timer {
      margin-bottom: 6%;
    }
    .tablet{
      display: block;
      img{
        display: block;
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
      }
    }
  }

  @media screen and (max-width:768px) {
    .reviews,
    .club{
      margin: 30px auto 0;
      padding-bottom: 70px;
      .slick-prev {
        left: 15%;
      }
      .slick-next {
        right: 15%;
      }
    }
    .club img {
      max-width: 350px;
      margin: 0 auto;
    }
  .courses{
    margin: 50px auto;
    .flex{
      gap: 10px;
    }
    .block{
      gap: 10px;
    }
    .block-standart {
      width: 100%;
      .text{
        font-size: 14px;
        line-height: 19px;
        margin: 5px;
      }
    }
  }
}
  @media screen and (min-width:768px) and (max-width: 1023px) {
    .reviews,
    .club{
      .slick-prev {
        left: 27%;
      }
      .slick-next {
        right: 27%;
      }
    }

    .vhodit .block,
    .online-platf .block,
    .temy .block,
    .club-for .block {
      max-width: 49%;
    }
  }

  @media screen and (min-width:992px) and (max-width: 1023px) {
    .header {
      background-image: url(../images/header-bg.webp);
    }
    .header-subtitle {
      margin-top: 70%;
    }
    .header .timer {
      margin-bottom: 8%;
    }
    .personal-psychologist,
    .speaker {
      margin-bottom: -1%;
    }
  }

  .header::before,
  .header::after,
  .vhodit::before,
  .online-platf::before,
  .video::before,
  .price::before,
  .price::after{
    display: none;
  }
}