@import 'variables';
@import 'fancybox.scss';
@import 'slick.scss';
@import 'slick-theme.scss';


.running-line {
  background: #ff4e7c;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}
.roller-wrapper {
  white-space: nowrap;
}
.roller {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 40px;
}
.roller span {
  position: relative;
  color: #FFF;
  font-family: "Involve-Bold", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0 50px;
}

/*-------------------*/
.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.timer-title {
  color: #222;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Involve-Regular", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    color: #222;
    font-family: "Involve-Bold", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.timer .chart {
  width: 60px;
  height: 53px;
  border-radius: 4px;
  // background: #ECE6E0;
  display: inline-block;
  position: relative;
  text-align: center;
  padding-top: 3px;
}
.chart {
  color: #E22631;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Involve-Bold", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 6px;
}
.days,
.hours,
.minutes,
.seconds {
  position: relative;
  &::after {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    color: #222;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Involve-Regular", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.days::after {
  content: "днів";
}
.hours::after {
  content: "годин";
}
.minutes::after {
  content: "хвилин";
}
.seconds::after {
  content: "секунд";
}
/*-------------------*/
.nav {
  padding: 10px 0 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo,
.burger {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo a {
  transition: 0.3s ease;
  &:hover {
    transform: scale(0.95);
  }
}
.logo {
  width: 116px;
  height: 77px;
  transition: 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}
.drop-btn {
  cursor: pointer;
  border: none;
  // background-color: #609F7B;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.nav-main-box {
  transition: .4s;
  position: absolute;
  padding: 12px 16px;
  right: -100%;
  top: 60px;
  z-index: 9;
}
.blok {
  width: 36px;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.blok.change {
  width: 36px;
  height: 17px;
}
.bar1,
.bar2,
.bar3 {
  width: 36px;
  height: 2px;
  background-color: #222;
  transition: 0.4s;
}
.bar1 {
  // margin-top: 2px;
}
.bar2 {
  // margin: 9px 0;
}
.change .bar1 {
  transform: translate(0, 7px) rotate(-45deg);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: translate(0, -7px) rotate(45deg);
}
.nav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0;
  li {
    margin: 5px 15px;
    padding: 0;
    &::before {
      display: none;
    }
  }
  .link {
    color: #222;
    font-family: "Involve-Regular", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    white-space: nowrap;
    transition: border-bottom .3s ease;
    &::before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #64A480;
      transition: width .3s ease;
    }
    &:hover {
      color: #64A480;
    }
    &:hover::before {
      width: 100%;
    }
  }
  .btn {
    width: 234px;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
}


@media screen and (min-width: 1024px) {
  .nav-main-box {
    box-shadow: none;
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }

  .burger .blok {
    display: none;
  }

  .burger .drop-btn {
    display: none;
  }
}

/*----------------*/
.header {
  background-image: url(../images/header-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-top: 40px;
  padding-bottom: 80px;
  position: relative;
}

.flex-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-small-img {
  width: 66px;
  height: 46px;
  margin-right: 10px;
}

.header-text {
  color: #222;
  font-family: "Involve-Regular", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  span{
    font-family: "Involve-Bold", sans-serif;
    font-weight: 700;
    white-space: nowrap;
  }
}

.header-title {
  background: linear-gradient(98deg, #474748 0%, #636363 34%, #373536 82.92%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Bebas Neue Cyrillic",sans-serif;
  font-size: 82px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 560px;
  margin: 30px 0 0;
  span{
    background: linear-gradient(90deg, #64A480 0%, #7DC99E 50.5%, #64A480 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Great Vibes",sans-serif;
    font-size: 130px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; 
    padding-left: 14px;
    white-space: nowrap;
    position: relative;
    top: -25px;
  }
}
.header-subtitle {
  color: #222;
  font-family: "Involve-Regular", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 560px;
  span {
    font-family: "Involve-Bold", sans-serif;
    font-weight: 700;
  }
}

.header-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 5;
  margin-top: 20px;
}

.bonus-box {
  display: flex;
  align-items: center;
  max-width: 500px;
  width: 100%;
  min-height: 73px;
  border-radius: 10px;
  background-color: #ffe4e4;
  margin: 30px 0 20px;
}

.header-bonus-img {
  width: 46px;
  height: 46px;
  margin: 0 15px;
}

.header-bonus {
  color: #373536;
  font-family: "Involve-Regular", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 400px;

  span {
    font-family: "Involve-Bold", sans-serif;
    font-weight: 700;
  }
}
.header-flex {
  display: flex;
  align-items: center;
}

.price-box {
  display: flex;
  align-items: flex-end;
}
.new {
  color: #E22631;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Involve-Bold", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 16px;
}
.old {
  color: #373536;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Involve-Regular", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: line-through;
  align-self: flex-end;
  margin-bottom: 5px;
}

.header .timer {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0;
  margin-left: 40px;
}

.btn-box {
  position: relative;
  z-index: 2;
}
.btn {
  color: #222;
  text-align: center;
  font-family: "Involve-SemiBold", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(180deg, #F1CEA2 0%, #DBAC72 100%);
  box-shadow: inset 0px 3px 20px 0px #FDE9CF;
  width: 349px;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
  margin: 16px auto 19px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 99%;
    border-radius: 10px;
    background-color: #B9966C;
    transition: bottom .3s ease;
    z-index: -1;
  }
  .zirka {
    position: absolute;
    content: '';
    right: -25px;
    top: -18px;
    width: 108px;
    height: 118px;
    -webkit-animation: rotate 10s linear infinite;
    animation: rotate 10s linear infinite;
    z-index: 2;
    padding: 0;
    img {
      width: 100%;
    }
  }
}
.btn:hover::after {
  bottom: 0px;
}
@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-block-item {
  color: #fff;
  font-family: "Involve-Regular", sans-serif;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  z-index: 3;
  display: grid;
  right: -7px;
  top: 9px;
  span {
    color: #FFF;
    text-align: center;
    font-family: "Involve-Bold", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 0px;
    margin-top: -5px;
  }
}
.header-price .btn{
  margin-top: 30px;
}

.autor-img-mob {
  display: none;
}
.autor-img-mob-1 {
  display: none;
}

/*----------------*/
.section-title {
  background: linear-gradient(98deg, #474748 0%, #636363 34%, #373536 82.92%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Bebas Neue Cyrillic",sans-serif;
  font-size: 62px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  span {
    background: linear-gradient(90deg, #64A480 0%, #7DC99E 50.5%, #64A480 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Great Vibes",sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; 
  }
}

.text {
  color: #373536;
  font-family: "Involve-Regular", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  span {
    font-family: "Involve-Bold", sans-serif;
    font-weight: 700;
  }
}

.title-item {
  color: #373536;
  text-align: center;
  font-family: "Involve-Regular", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  span {
    font-family: "Involve-Bold", sans-serif;
    font-weight: 700;
  }
}

li {
  color: #373536;
  font-family: "Involve-Regular", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 0 20px 55px;
  position: relative;

  span{
    font-family: "Involve-Bold", sans-serif;
    font-weight: 700;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    background: url(../images/checked.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.dashed {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 15px;
    border: 2px dashed #AEB9D5;
  }
}

/*----------------*/
.who-this-course {
  padding: 100px 0 0;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: -462px;
    left: 0;
    width: 722px;
    height: 918px;
    background: url(../images/psevdo-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  .section-title {
    margin-bottom: 20px;
    span{
      padding-left: 70px;
    }
  }
  .wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .block {
    display: flex;
    align-items: center;
    .lozad{
      width: 70px;
      height: 70px;
    }
  }
  .text {
    padding-left: 20px;
  }
  .foto {
    display: block;
    max-width: 644px;
    margin: 0 auto;
  }
}

/*----------------*/
.banner{
  background-color: #F4F6FB;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    max-width: 1920px;
    width: 100%;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1920' height='40' viewBox='0 0 1920 40' fill='none'%3E%3Cpath d='M1920 39.9999H0C0 39.9999 584.365 0 960 0C1335.63 0 1920 39.9999 1920 39.9999Z' fill='%23F4F6FB'/%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    top: -38px;
    left: 50%;
    transform: translateX(-50%);
  }
  &::after {
    position: absolute;
    content: "";
    max-width: 1920px;
    width: 100%;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1920' height='40' viewBox='0 0 1920 40' fill='none'%3E%3Cpath d='M1920 7.81868e-05H0C0 7.81868e-05 584.365 40 960 40C1335.63 40 1920 7.81868e-05 1920 7.81868e-05Z' fill='%23F4F6FB'/%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    bottom: -38px;
    left: 50%;
    transform: translateX(-50%);
  }
  .section-title{
    text-align: center;
    padding-top: 40px;
  }
  .title-item{
    max-width: 846px;
    padding-bottom: 40px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
}

/*----------------*/
.title-btn{
  margin: 130px auto 90px;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: -413px;
    right: 0;
    width: 742px;
    height: 805px;
    background: url(../images/psevdo-2.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .section-title{
    text-align: center;
    font-size: 42px;
    max-width: 810px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
  .btn{
    width: 309px;
    margin-top: 40px;
  }
}

/*----------------*/
.program{
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 150px;
    left: 0;
    width: 442px;
    height: 1230px;
    background: url(../images/psevdo-3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  &::after {
    position: absolute;
    content: "";
    bottom: -200px;
    right: 0;
    width: 523px;
    height: 1380px;
    background: url(../images/psevdo-4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  .section-title{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    span{
      margin-right: -125px;
    }
  }
  .wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .block{
    display: flex;
    align-items: center;
    max-width: 846px;
    width: 100%;
    min-height: 298px;
    border-radius: 20px;
    background-color: #F4F6FB;
    padding: 50px 40px 50px 23px;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      top: 0;
      left: 138px;
      width: 1px;
      height: 100%;
      background-image: linear-gradient(to bottom, #fff 40%, #AEB9D5 40%);
      background-size: 1px 20px;
      background-repeat: repeat-y;
    }
  }
  .num{
    background: linear-gradient(90deg, #64A480 0%, #7DC99E 50.5%, #64A480 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	  font-family: "Bebas Neue Cyrillic",sans-serif;
    font-size: 82px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transform: rotate(90deg);
    white-space: nowrap;
    margin-top: 50px;
    margin-bottom: auto;
    margin-left: -40px;
  }
  .info-title{
    color: #373536;
    text-align: center;
    font-family: "Involve-Bold",sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 570px;
  }
  .title-item{
    text-align: left;
    margin-bottom: 20px;
  }
  .text {
    margin: 30px 0 20px;
  }
  li{
    padding: 0px 0 12px 22px;
    &::before{
      top: 7px;
      left: 0px;
      width: 12px;
      height: 12px;
      background: radial-gradient(119.26% 103.45% at 73.64% 100%, #76C097 0%, #609F7B 100%);
      box-shadow: inset 0px 3px 20px 0px #81CDA3;
      border-radius: 12px;
    }
  }
  .info li:last-of-type{
    padding-bottom: 0;
  }
}

/*----------------*/
.format {
  margin: 50px auto;
  .section-title{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-left: 160px;
    white-space: nowrap;
    span{
      font-size: 100px;
      line-height: 140px;
      margin-bottom: -40px;
      margin-left: -160px;
    }
  }
  li {
    color: #373536;
    padding: 7px 0 10px 55px;
    span{
      font-size: 22px;
    }
  }
  .foto {
    display: block;
    max-width: 700px;
    width: 100%;
    position: relative;
    z-index: 2;
    margin-left: -50px;
  }
}

/*----------------*/
.price {
  padding: 50px 0 100px;
  background: radial-gradient(51.66% 39.95% at 73.64% 29.89%, #76C097 0%, #609F7B 77%);
  margin-top: -30px;
  position: relative;
  z-index: 5;
  &::before {
    position: absolute;
    content: "";
    max-width: 1920px;
    width: 100%;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1920' height='40' viewBox='0 0 1920 40' fill='none'%3E%3Cpath d='M1920 39.9999H0C0 39.9999 584.365 0 960 0C1335.63 0 1920 39.9999 1920 39.9999Z' fill='%23609F7B'/%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    top: -38px;
    left: 50%;
    transform: translateX(-50%);
  }
  &::after {
    position: absolute;
    content: "";
    max-width: 1920px;
    width: 100%;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1920' height='40' viewBox='0 0 1920 40' fill='none'%3E%3Cpath d='M1920 7.81868e-05H0C0 7.81868e-05 584.365 40 960 40C1335.63 40 1920 7.81868e-05 1920 7.81868e-05Z' fill='%23609F7B'/%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    bottom: -38px;
    left: 50%;
    transform: translateX(-50%);
  }
  .psevdo {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: -180px;
      right: 0;
      width: 440px;
      height: 459px;
      background: url(../images/psevdo-5.webp);
      background-repeat: no-repeat;
      background-size: cover;
    }
    &::after {
      position: absolute;
      content: "";
      bottom: -280px;
      left: 0;
      width: 566px;
      height: 637px;
      background: url(../images/psevdo-6.webp);
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
    }
  }
  .price-title{
    color: #FFF;
    font-family: "Bebas Neue Cyrillic",sans-serif;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    margin-left: -140px;
    span{
      color: #FFF;
      font-family: "Great Vibes",sans-serif;
      font-size: 100px;
      font-style: normal;
      font-weight: 400;
      line-height: 80px;
      margin-top: -20px;
      margin-left: 390px;
    }
  }
  .timer {
    margin-bottom: 30px;
  }
  .timer-title,
  .hours::after,
  .minutes::after,
  .seconds::after,
  .flex-row i {
    color: #1D1D1D;
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
  }
  .tariff {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: 100%;
    max-width: 454px;
    border-radius: 20px;
    background: #FFF;
    padding: 30px 30px 0;
    margin-bottom: 40px;
    position: relative;
    z-index: 3;
  }
  .title {
    background: linear-gradient(98deg, #474748 0%, #636363 34%, #373536 82.92%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Bebas Neue Cyrillic",sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 10px;
  }
  ul {
    padding: 30px 0;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-image: linear-gradient(to right, #fff 40%, #AEB9D5 40%);
      background-size: 20px 1px;
      background-repeat: repeat-x;
    }
    &::after{
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-image: linear-gradient(to right, #fff 40%, #AEB9D5 40%);
      background-size: 20px 1px;
      background-repeat: repeat-x;
    }
  }
  li {
    color: #373536;
    padding: 7px 0 17px 55px;
    span{
      white-space: nowrap;
    }
  }
  li:last-of-type{
    padding-bottom: 0;
  }
  .price-bonus-box {
    padding: 20px 0;
    margin-top: auto;
    display: flex;
    align-items: center;
  }

  .price-bonus-img {
    width: 46px;
    height: 46px;
    margin: 0 12px 0 0;
  }
  .price-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &::before{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-image: linear-gradient(to right, #fff 40%, #AEB9D5 40%);
      background-size: 20px 1px;
      background-repeat: repeat-x;
    }
  }
  .old {
    color: #7A7A7A;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Involve-Regular", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 24px auto 20px;
  }
  .new-price {
    color: #1D1D1D;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Involve-Bold", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    span {
      color: #E22631;
      text-align: center;
      font-variant-numeric: lining-nums proportional-nums;
      font-family: "Involve-Bold", sans-serif;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: -10px;
    }
  }
  .btn {
    color: #58341D;
    justify-content: center;
    padding: 0;
    margin: 10px auto -39px;
  }
}

/*----------------*/
.result {
  padding: 140px 0 50px;
  .section-title {
    text-align: center;
    margin: 0 auto 30px;
  }
  .wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
  }
  .block {
    max-width: 413px;
    min-height: 172px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 14px 24px 0px rgba(37, 31, 102, 0.08);
    padding: 60px 30px 40px;
    position: relative;
    margin-top: 47px;
  }
  .img {
    position: absolute;
    content: "";
    top: -47px;
    left: 50%;
    transform: translateX(-50%);
    width: 94px;
    height: 94px;
  }
  .text {
    text-align: center;
  }
}

/*----------------*/
.speaker {
  margin: 50px auto;
  .bg {
    border-radius: 20px;
    background: #F4F6FB;
  }
  .section-title {
    display: flex;
    flex-direction: column;
    margin: 70px 0 30px;
  }
  ul {
    margin-bottom: 70px;
  }
  li {
    padding: 8px 10px 10px 55px;
  }
  li:last-of-type{
    padding-bottom: 0;
  }
  .foto {
    display: block;
    max-width: 472px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }
}

/*----------------*/
.speaker-tv {
  padding: 50px 0;
  .speaker-tv-title {
    color: #609F7B;
    text-align: center;
    font-family: "Bebas Neue Cyrillic",sans-serif;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    max-width: 846px;
    margin: 0 auto;
    span{
      background: linear-gradient(98deg, #474748 0%, #636363 34%, #373536 82.92%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: "Bebas Neue Cyrillic",sans-serif;
      font-weight: 400;
    }
  }
}

.speaker-slider {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 850px;
  width: 100%;
  .slick-slide {
    margin: 0 10px;
  }
  .slick-dots {
    bottom: -50px;
  }
  .item {
    img {
      border-radius: 20px;
      width: 100%;
    }
  }
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    position: relative;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 0 5px;
    padding: 15px;
    cursor: pointer;

    &::before {
      display: none;
    }

    &:hover,
    &:focus {
      &:before {
        background-color: #609F7B;
      }
    }

    button {
      border: 0;
      background: transparent;
      display: block;
      height: 12px;
      width: 12px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer;

      &:hover,
      &:focus {
        &:before {
          background-color: #609F7B;
          opacity: 0.7;
        }
      }

      &:before {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 12px;
        height: 12px;
        content: "";
        background-color: #FFF;
        border: 2px solid #609F7B;
        border-radius: 12px;
      }
    }

    &.slick-active button:before {
      background-color: #609F7B;
    }
  }
}

.smi-list {
  min-height: 100px;
  max-width: 850px;
  margin: 100px auto 0;
  .slick-slide,
  .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  &:hover,
  &:focus {
    outline: none;
    background: transparent;
    color: transparent;
    &:before {
      opacity: $slick-opacity-on-hover;
    }
  }
  &.slick-disabled:before {
    opacity: $slick-opacity-not-active;
  }
  &:before {
    font-family: $slick-font-family;
    font-size: 20px;
    line-height: 1;
    color: $slick-arrow-color;
    opacity: $slick-opacity-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.slick-prev,
.slick-next {
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #fff;
  border: 2px solid #609F7B;
  position: absolute;
}
.slick-prev {
  left: -50px;
  &:before {
    position: absolute;
    content: url(../images/arrow.svg);
    top: 8px;
    left: 10px;
  }
}
.slick-next {
  right: -50px;
  &:before {
    position: absolute;
    content: url(../images/arrow-next.svg);
    top: 8px;
    right: 10px;
  }
}

/*----------------*/
.reviews {
  padding: 100px 0;
  .reviews-title {
    color: #609F7B;
    text-align: center;
    font-family: "Bebas Neue Cyrillic",sans-serif;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    max-width: 1000px;
    margin: 0px auto 20px;
    span{
      background: linear-gradient(98deg, #474748 0%, #636363 34%, #373536 82.92%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: "Bebas Neue Cyrillic",sans-serif;
      font-weight: 400;
    }
  }
  .title-item:last-of-type {
    max-width: 707px;
    margin: 0 auto;
  }
  img {
    width: 100%;
    height: 100%;
    padding: 0 13px;
    border-radius: 10px;
  }
}

/*----------------*/
.answers {
  .section-title {
    text-align: center;
    margin: 0px auto 20px;
  }
}
.answers-border {
  max-width: 846px;
  min-height: 70px;
  border-radius: 10px;
  background: #F4F6FB;
  margin: 10px auto;
  padding: 15px 24px 15px 40px;
}
.accordion {
  color: #222;
  font-family: "Involve-Bold", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion-content {
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-out;

  .text {
    padding: 18px 40px 0 0;
  }
}
.bg-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #F1CEA2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow {
  border: solid #58341D;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(45deg);
  transition: transform 0.3s ease-out;
  margin-top: -6px;
}
.tc {
  color: #1D1D1D;
}

/*-----------*/
.footer {
  text-align: center;
  background: #609F7B;
  margin-top: 100px;
  .row {
    padding: 20px 0;
  }
  .logo {
    width: 102px;
    height: 67px;
    display: block;
  }
  li>a {
    color: #FFF;
    font-family: "Involve-Regular", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    transition: border-bottom 0.3s ease;
    &:hover {
      color: #F1CEA2;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #F1CEA2;
      transition: width 0.3s ease;
    }
    &:hover::before {
      width: 100%;
    }
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  li {
    text-align: center;
    padding: 0;
    &::before {
      display: none;
    }
  }
}
.flex-inline {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.mess {
  img {
    width: 40px;
    height: 40px;
    transition: 0.3s ease;

    &:hover {
      transform: scale(1.3);
    }
  }
}
.viber {
  margin: 0 15px;
}
.flex-inline {
  .tell {
    color: #FFF;
    font-family: "Involve-Bold", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
  }
  div {
    display: flex;
  }
}
.footer ul.mail {
  justify-content: flex-end;
}

@media screen and (min-width: 992px) and (max-width: 1023px) {
  .nav {
    .burger {
      order: 3 !important;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .nav-main {
    li {
      padding: 5px 8px;
      a {
        font-size: 16px;
      }
    }
  }
  .footer {
    ul {
      flex-direction: column;
    }
  }
}


//-----------
.fancybox-content {
  max-width: 532px;
  width: 100%;
  border-radius: 20px;
  padding: 30px 40px 20px;
}
.fancybox-close-small {
  margin: 10px;
}
.fancybox-button svg {
  border: 1px solid;
  border-radius: 50%;
}
.form-title {
  background: linear-gradient(98deg, #474748 0%, #636363 34%, #373536 82.92%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Bebas Neue Cyrillic",sans-serif;
  font-size: 62px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}
.form-subtitle {
  color: #222;
  text-align: center;
  font-family: "Involve-Regular", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 300px;
  margin: 5px auto 0;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 5;
}
form label {
  color: #222;
  font-family: "Involve-Regular", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 20px;
  padding-bottom: 3px;
}
form input {
  height: 50px;
  margin: 0 auto 10px;
  width: 410px;
  border-radius: 10px;
  border: 1px solid #505050;
  font-size: 18px;
}
label[for="agree"] {
  display: inline-block;
  font-size: 17px;
  text-align: center;
  padding: 14px 25px 0;
}
label a {
  color: #505050;
}
label a:hover {
  color: #609F7B;
}
form .btn {
  border: none;
  justify-content: center;
  margin: 10px auto 5px;
  padding: 0;
}
form a,
label[for=agree] {
  font-family: "Involve-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
/*=============*/
@media screen and (min-width: 1024px) and (max-width:1500px) {
  .price .psevdo::before {
    width: 250px;
    height: 275px;
  }
  .price .psevdo::after{
    bottom: -250px;
  }
}
@media screen and (min-width: 1200px) and (max-width:1420px) {
  .who-this-course {
    .wrap {
      margin-bottom: 70px;
    }
    .foto {
      max-width: 570px;
    }
  }
  .format {
    ul{
      margin-bottom: 30px;
    }
    .foto {
      margin-left: 0;
    }
  }
}


body {
  background: #fff;
  // overflow-x: hidden;
  @import 'MediaQueries/main';
}