@font-face {
	font-family: "Mont";
	src: url("../fonts/Mont-Light.eot");
	src: url("../fonts/Mont-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Mont-Light.svg") format("svg"),
		url("../fonts/Mont-Light.ttf") format("truetype"),
		url("../fonts/Mont-Light.woff") format("woff"),
		url("../fonts/Mont-Light.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Mont-SemiBold";
	src: url("../fonts/Mont-SemiBold.eot");
	src: url("../fonts/Mont-SemiBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Mont-SemiBold.svg") format("svg"),
		url("../fonts/Mont-SemiBold.ttf") format("truetype"),
		url("../fonts/Mont-SemiBold.woff") format("woff"),
		url("../fonts/Mont-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Mont-Bold";
	src: url("../fonts/Mont-Bold.eot");
	src: url("../fonts/Mont-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Mont-Bold.svg") format("svg"),
		url("../fonts/Mont-Bold.ttf") format("truetype"),
		url("../fonts/Mont-Bold.woff") format("woff"),
		url("../fonts/Mont-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Mont-Heavy";
	src: url("../fonts/Mont-Heavy.eot");
	src: url("../fonts/Mont-Heavy.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Mont-Heavy.ttf") format("truetype"),
		url("../fonts/Mont-Heavy.woff") format("woff"),
		url("../fonts/Mont-Heavy.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SF UI Display";
	src: url("../fonts/sf-ui-display-black-58646a6b80d5a.otf");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}