& {
  /* .row>* {
    padding-right: calc(var(--bs-gutter-x) * 0.75);
    padding-left: calc(var(--bs-gutter-x) * 0.75);
  } */

  .roller {
    height: 26px;

    span {
      font-size: 11px;
      letter-spacing: 1px;
      padding: 0 20px;
    }
  }

  .nav {
    padding: 10px 0 20px;
  }
  .nav-main-box {
    transition: .4s;
    position: absolute;
    padding: 10px 0 20px;
    right: -100%;
    top: 100px;
    z-index: 9;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 301px;
    background-color: #609F7B;
  }
  .nav-main {
    flex-direction: column;
    justify-content: center;
    li {
      padding: 10px 0 0 0;
    }
    .link {
      &::before {
        background-color: #515151;
      }
      &:hover {
        color: #515151;
      }
    }
  }
  .show {
    right: 0px;
  }
  .logo {
    width: 90px;
    height: auto;
  }

  /*-------------------*/
  .header {
    margin-top: 25px;
    overflow-x: clip;
  }
  .header .flex-left {
    justify-content: center;
  }
  .header-small-img {
    width: 66px;
    height: 46px;
  }
  .header-text {
    padding-right: 30px;
  }
  .header-title {
    text-align: center;
    font-size: 50px;
    margin: 30px auto -25px;
    line-height: normal;
    max-width: 350px;
    span{
      font-size: 80px;
      line-height: normal; 
      // padding-left: 14px;
      // top: -25px;
    }
  }
  .header-subtitle {
    text-align: center;
    margin: 0 auto 20px;
  }

  /* .bonus-box {
    min-height: 95px;
    margin: 30px auto 20px;
  }
  .header-bonus-img {
    margin: 0 9px 0 11px;
  }
  .header-bonus {
    font-size: 16px;
  } */

  .header-price {
    align-items: center;
    justify-content: space-between;
  }
  .header-flex {
    flex-direction: column;
  }
  .new {
    line-height: 1;
    margin-top: 0;
    margin-bottom: 5px;
  }
  .header .timer {
    justify-content: center;
    margin: 15px auto 0;
  }
  .btn {
    width: 293px;
    padding: 0 90px 0 30px;
    margin: 0px auto 0 -25px;
  }
  
  /*----------------*/
  .section-title {
    font-size: 38px;
    span {
      font-size: 50px;
      line-height: normal;
      white-space: nowrap;
    }
  }
  /* .dashed::before {
    border: 1px dashed #cfc7ed;
  } */

  /*----------------*/
  .who-this-course {
    padding: 50px 0 30px;
    &::before {
      display: none;
    }
    .section-title {
      text-align: center;
      margin-left: -70px;
      span {
        padding-left: 120px;
      }
    }
    .text {
      padding-right: 10px;
    }
    .foto {
      max-width: 500px;
      width: 100%;
      margin: 20px auto 0;
    }
  }

  /*----------------*/
  .banner {
    .section-title{
      padding-top: 10px;
    }
    .title-item{
      padding-bottom: 10px;
    }
  }

  /*----------------*/
  .title-btn{
    margin: 100px auto 60px;
    &::before {
      display: none;
    }
    .section-title{
      font-size: 34px;
      max-width: 655px;
    }
    .btn-box{
      max-width: 345px;
      width: 100%;
      margin: 0 auto;
    }
    .btn{
      // margin: 40px auto 0;
      // width: 293px;
      margin: 40px auto 0 0;
    }
  }
 

  /*----------------*/
  .program{
    &::before,
    &::after {
      display: none;
    }
    .section-title{
      margin-bottom: 20px;
      white-space: nowrap;
      span{
        margin-right: -75px;
        line-height: 1.1;
      }
    }
    .block{
      flex-direction: column;
      min-height: auto;
      padding: 30px 20px;
      &::before{
        position: absolute;
        content: "";
        top: 85px;
        left: 0;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(to right, #fff 40%, #AEB9D5 40%);
        background-size: 20px 1px;
        background-repeat: repeat-x;
      }
    }
    .num{
      font-size: 42px;
      transform: none;
      margin: 0 auto 0 0;
    }
    .info-title{
      font-size: 28px;
      text-align: left;
      margin-top: 30px;
      max-width: none;
    }
    .title-item{
      margin-top: 30px;
    }
    li{
      padding: 0px 4px 12px 22px;
    }
  }

  /*----------------*/
  .format {
    margin: 60px auto 0;
    .section-title {
      text-align: center;
      margin: 0 auto 30px 90px;
      span{
        font-size: 50px;
        line-height: 1.5;
        margin: 0;
        margin-bottom: -20px;
        margin-left: -200px;
      }
    }
    li {
      padding: 7px 5px 10px 55px;
    }
    .foto {
      max-width: 500px;
      margin: 0 auto;
    }
  }

  /*----------------*/
  .price {
    padding: 20px 0 65px;
    margin: 30px auto 70px;
    &::before {
      margin-left: -1px;
    }
    &::after {
      margin-left: -1px;
    }
    .psevdo::before,
    .psevdo::after {
      display: none;
    }
    .price-title{
      font-size: 38px;
      margin: 0 auto;
      span{
        font-size: 50px;
        margin: -20px auto 0;
      }
    }
    /* .timer {
      flex-direction: column;
    } */

    .tariff {
      padding: 30px 20px 0;
    }
    .title {
      margin-bottom: 15px;
      padding: 0 7px;
    }
    ul {
      padding: 20px 0;
    }

    /* .price-bonus-box {
      padding: 20px;
      margin-bottom: 0;
    }
    .header-bonus {
      padding: 0;
    } */
  }

  /*----------------*/
  .result {
    padding: 30px 0;

    .section-title {
      margin: 0 auto 20px;
    }

    .block {
      min-height: 156px;
      padding: 60px 20px 25px;
    }
  }

  /*----------------*/
  .speaker {
    margin: 30px auto;
    .row>* {
      padding-right: calc(var(--bs-gutter-x) * 1);
      padding-left: calc(var(--bs-gutter-x) * 1);
    }
    .section-title {
      text-align: center;
      margin: 50px auto 20px;
      max-width: 750px;
    }
    ul {
      margin-bottom: 0px;
    }
    li {
      padding: 8px 21px 20px 60px;
      &::before {
        left: 10px;
      }
    }
    .foto {
      margin: 0 auto;
    }
  }

  /*----------------*/
  .speaker-tv {
    padding: 30px 0;
    .speaker-tv-title {
      font-size: 38px;
      max-width: 450px;
    }
  }

  /*-----------------*/
  .smi-list {
    margin: 100px auto 0;
    .slick-prev {
      left: -40px;
    }
    .slick-next {
      right: -40px;
    }
  }

  /*-----------------*/
  .slick-dots li {
    margin: 0 -5px;
  }
  .slick-prev,
  .slick-next {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #F6F8FC;
  }
  .slick-prev {
    left: -5px;
    &:before {
      top: 6px;
      left: 8px;
    }
  }
  .slick-next {
    right: -5px;
    &:before {
      top: 6px;
      right: 8px;
    }
  }

  /*--------------------*/
  .reviews {
    padding: 60px 0;
    .reviews-title {
      font-size: 38px;
      max-width: 520px;
    }
    .title-item:last-of-type {
      font-size: 18px;
      padding: 0 25px;
      max-width: 630px;
    }
  }

  /*----------------*/
  .answers {
    .section-title {
      padding: 0 5px;
    }
  }
  .answers-border {
    padding: 24px 10px 23px 20px;
  }
  .bg-arrow {
    padding: 0 13px;
    margin-left: 15px;
  }

  /*-----------------*/
  .footer {
    margin-top: 60px;

    .row {
      padding: 30px 0 20px;
    }

    .flex-left {
      justify-content: center;
    }

    .logo {
      width: 90px;
      height: auto;
      margin: 0 auto;
    }

    ul {
      flex-direction: column;
      justify-content: center;
      margin: 15px 0;
    }

    li {
      margin-bottom: 10px;
    }
  }

  .flex-inline {
    flex-direction: column;
    max-width: 225px;
    margin: 0 auto;

    ul {
      margin: 0;
    }

    li {
      margin: 10px auto;
    }
  }

  ul.mail {
    margin: 0;

    li {
      padding-bottom: 0;
    }
  }

  /*==================*/
  .fancybox-content {
    max-width: 344px;
    // max-height: 530px;
    padding: 20px;
  }
  .form-title {
    font-size: 32px;
    line-height: 90%;
    margin: 30px auto 15px;
    span {
      line-height: 90%;
    }
  }
  .form-subtitle {
    font-size: 16px;
    max-width: 290px;
  }
  form input {
    width: 100%;
    height: 40px;
  }
  form label {
    padding-left: 0px;
    font-size: 16px;
  }
  form .btn {
    margin: 10px auto 0;
    max-width: 295px;
    width: 100%;
    height: 69px;
    padding: 0;
  }
  form .btn::after {
    height: 68px;
  }
  label[for="agree"] {
    font-size: 11px;
    padding: 14px 0 0;
  }
  form a,
  label[for=agree] {
    font-size: 11px;
  }
  /*=============*/
  @media screen and (max-width: 374px) {
    .header-text {
      padding-right: 30px;
    }
    .header-title {
      font-size: 50px;
    }
    .new {
      font-size: 40px;
    }
    .btn {
      width: 240px;
      padding-left: 20px;
      padding-right: 90px;
     /*  .zirka {
        left: 150px;
      } */
    }
    /* .btn-block-item {
      left: 166px;
    } */

    //--------
    .who-this-course {
      .section-title{
        margin-bottom: 0;
      }
      .wrap{
        gap: 20px;
      }
      .text{
        padding-right: 0;
      }
    }
    //--------
    .title-btn .btn{
      width: 250px;
    }

    //--------
    .program .section-title span{
      margin-right: -90px;
    }
    //--------
    .price .btn {
      width: 250px;
    }

    //--------
    .speaker{
      .section-title{
        font-size: 45px;
        span{
          font-size: 44px;
        }
      }
    }
    //--------
    .fancybox-content {
      max-height: 510px;
      padding: 15px;
    }
    .fancybox-close-small {
      margin: 0;
    }
    .form-title {
      font-size: 34px;
    }
    form input {
      width: 100%;
    }
    form a,
    label[for=agree] {
      font-size: 11px;
    }
    form .btn {
      flex-direction: row;
      padding: 0;
    }
  }

  @media screen and (max-width: 767px) {
    .header::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 75%;
      background-color: #eaeaee;
      z-index: -1;
    }

    .autor-img-mob {
      display: block;
      width: 100%;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    .header {
      background-color: #eaeaee;
    }

    .autor-img-mob-1 {
      display: block;
      max-width: 500px;
      width: 100%;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 991px) {
    .header {
      background-image: none;
      padding-bottom: 0;
    }
  }

  @media screen and (min-width:992px) and (max-width: 1023px) {
    .header-title{
      text-align: left;
      margin: 30px 0 -25px;
    }
    .header-subtitle{
      text-align: left;
    }
    .header-price {
      align-items: flex-start;
    }
    .header-price .btn {
      margin: 30px 0 0;
    }
    .who-this-course {
      .section-title {
        margin-bottom: 0px;
      }
      .wrap {
        margin-bottom: 30px;
      }
    }
    .format {
      margin: 60px auto -5px;
      ul{
        margin-bottom: 20px;
      }
    }
    .speaker {
      .section-title {
        margin: 40px auto 0;
      }
      li {
        padding-bottom: 8px;
      }
    }
  }
}