@import '../../mq';

@media #{$tabletLandscape} {
  @import '../desktop';
//1024-1199
  .header-title{
    font-size: 70px;
    margin: 20px 0;
    span{
      top: -10px;
    }
  }
  .header-flex {
    flex-direction: column;
  }
  .header .timer{
    margin: 20px 0 0;
  }

  .who-this-course {
    .section-title {
      margin: 0;
    }
    .wrap {
      margin-bottom:50px;
    }
    .foto{
      max-width: 500px;
    }
  }

  .format ul {
    margin-bottom: 20px;
  }
}