& {
  .roller {
    height: 26px;

    span {
      font-size: 11px;
    }
  }


  .header {
    background-image: url(../images/header-bg-mobile.webp);
    margin-top: 26px;
    padding-bottom: 60px;
  }

  .header {
    .block {
      padding-top: 16px;
    }

    .header-logo {
      position: static;
      text-align: center;
      padding-bottom: 20px;

      .logo {
        width: 72px;
        height: 42px;
      }
    }

    .top-text {
      font-size: 14px;
      padding-right: 10px;
    }
  }

  .header-title {
    text-align: center;
    font-size: 55px;
    margin: 20px auto 10px;
    max-width: 500px;
  }

  .header-subtitle {
    font-size: 16px;
    text-align: center;
    margin: 0 auto 20px;
  }

  .bonus-box {
    margin: 0 auto 30px;
  }

  .header-bonus-img {
    width: 53px;
    height: 53px;
    margin: 0px 10px;
  }

  .header-bonus {
    font-size: 14px;
    padding: 12px 10px 12px 0;
  }

  .btn {
    margin: 10px auto 0;
  }

  .flex-bottom {
    flex-direction: column;
    align-items: center;
  }

  .price-box {
    display: flex;
    align-items: center;
  }

  .old {
    order: 2;
    padding: 0 0 4px 12px;
  }

  .new {
    order: 1;
  }

  .header .timer {
    justify-content: center;
    margin: 25px auto 0;
  }


  .section-title {
    font-size: 40px;
  }

  .title-item {
    font-size: 18px;
  }


  .six-steps {
    padding-top: 60px;

    .section-title {
      margin: 0 auto 10px;
    }

    .wrap {
      gap: 20px;
      margin: 20px auto 60px;
    }

    .block {
      max-width: 345px;
    }
  }


  .course-for-you {
    padding-top: 60px;

    .wrap-container {
      padding: 35px 0 60px;
    }

    .block {
      max-width: 345px;
    }
  }


  .who-course {
    padding: 60px 0;

    .text {
      padding: 0px 15px;
    }
  }


  .problems {
    .section-title {
      text-align: center;
      padding: 0 5px 20px;
    }

    li {
      padding: 0 6px 20px 22px;
    }

    .image {
      width: 100%;
      margin: 0 auto;
      display: block;
      max-width: 400px;
    }
  }


  .childrens-questions {
    padding: 60px 0;
    margin-top: -10px;

    .wrap {
      padding: 15px 0 40px;
    }
  }


  .program {
    padding-top: 60px;

    .section-title {
      margin: 0 auto 20px;
    }


    .block {
      padding: 30px 15px 30px 20px;
      margin: 0 auto 10px;
    }

    .block-title {
      font-size: 18px;
      padding-bottom: 10px;
    }
  }



  .format {
    .section-title {
      padding-top: 50px;
      text-align: center;
      margin: 0 auto 25px;
    }

    li {
      padding: 0 6px 0 45px;
    }

    .title-item {
      text-align: center;
      margin: 30px auto 0px;
    }

    .format-img {
      width: 100%;
      margin: -50px auto 0;
      max-width: 400px;
      position: relative;
      z-index: -1;
    }
  }


  .price {
    padding-top: 60px;

    .timer {
      flex-direction: column;
      margin: 10px auto 30px;
    }

    ul {
      padding: 0 20px 30px;
    }

    .old {
      order: 1;
    }

    .new-price {
      order: 2;
    }
  }


  .result {
    padding: 40px 0 60px;

    .section-title {
      padding-bottom: 48px;
    }

    .wrap {
      gap: 35px 20px;
    }

    .block {
      max-width: 345px;
      min-height: auto;
      padding: 40px 10px 30px;
    }
  }


  .video-lesson {
    padding-top: 60px;

    .section-title {
      margin: 0 auto 10px;
    }

    .text {
      padding-bottom: 20px;
    }

    .btn {
      margin-top: 0px;
    }
  }


  .how-learning {
    padding: 60px 0;

    .block {
      padding-top: 65px;
    }

    .psevdo {
      top: 13px;
    }

    .block-title {
      padding-bottom: 10px;
    }
  }


  .speaker {
    .speaker-img {
      margin: -50px auto 0;
      display: block;
      max-width: 400px;
    }

    .section-title {
      text-align: center;
      padding-top: 60px;
    }
  }



  .speaker-tv {
    .title-item {
      margin: 60px auto 10px;
      padding: 0 5px;
    }
  }


  .smi-list {
    margin: 100px auto 0;

    .slick-prev {
      left: -39px;
    }

    .slick-next {
      right: -39px;
    }
  }



  .slick-dots li {
    margin: 0 -5px;
  }

  .slick-prev,
  .slick-next {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #F6F8FC;
  }

  .slick-prev {
    left: -5px;

    &:before {
      top: 6px;
      left: 8px;
    }
  }

  .slick-next {
    right: -5px;

    &:before {
      top: 6px;
      right: 8px;
    }
  }


  .reviews {
    padding-top: 80px;

    .section-title {
      font-size: 38px;

      svg {
        display: none;
      }
    }

    .slick-prev {
      left: -35px;
    }

    .slick-next {
      right: -35px;
    }

    .title-item:last-of-type {
      font-size: 20px;
      margin: 100px auto 0;
      padding: 0px 15px;
    }
  }



  .answers {
    h2 {
      margin: 70px auto 20px;
    }
  }

  .answers-border {
    padding: 24px 10px 23px 20px;
  }

  .bg-arrow {
    padding: 0 15px 0 13px;
    margin-left: 15px;
  }



  .footer {
    margin-top: 60px;

    .row {
      padding: 30px 0 20px;
    }

    .flex-left {
      text-align: center;
    }

    .logo {
      width: 156px;
      height: 103px;
      margin: 0 auto;
    }

    ul {
      flex-direction: column;
      justify-content: center;
      margin: 15px 0;
    }

    li {
      margin-bottom: 20px;
    }
  }

  .flex-inline {
    flex-direction: column;
    max-width: 225px;
    margin: 0 auto;

    ul {
      margin: 0;
    }

    li {
      margin: 10px auto;
    }

  }

  ul.mail {
    margin: 0;

    li {
      padding-bottom: 0;
    }
  }



  .fancybox-content {
    max-width: 344px;
    max-height: 530px;
    padding: 23px;
  }

  .form-title {
    font-size: 45px;
    margin-top: 20px;
  }

  .form-subtitle {
    font-size: 18px;
    max-width: 290px;
  }

  form input {
    width: 298px;
    height: 40px;
  }

  form label {
    padding-left: 0px;
  }

  label[for="agree"] {
    padding: 14px 0 0;
  }

  label[for="agree"],
  form a {
    font-size: 12px;
  }

  form .btn {
    margin: 10px auto 0px;
    width: 100%;
    height: 69px;
  }

  @media screen and (max-width: 374px) {
    .header-title {
      font-size: 50px;
    }

    .header .btn {
      margin-right: 50px;
      width: 250px;
      padding-left: 20px;

      &::after {
        width: 240px;
      }
    }

    .btn .zirka {
      left: 170px;
    }

    .btn-block-item {
      left: 184px;
    }

    .childrens-questions .btn,
    .video-lesson .btn {
      width: 100%;
    }

    .childrens-questions .block {
      max-height: none;
    }


    .fancybox-content {
      max-height: 510px;
      padding: 15px;
    }

    .fancybox-close-small {
      margin: 0;
    }

    .form-title {
      font-size: 44px;
    }

    form input {
      width: 100%;
    }

    label[for="agree"],
    form a {
      font-size: 11px;
    }
  }


  @media screen and (min-width:992px) and (max-width: 1023px) {
    .problems {
      .block {
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      .section-title {
        margin-bottom: auto;
      }
    }
  }
}