@import 'variables';
@import 'fancybox.scss';
@import 'slick.scss';
@import 'slick-theme.scss';

.nav {
  padding: 20px 0 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo,
.burger {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 123px;
  height: auto;
}

.drop-btn {
  cursor: pointer;
  border: none;
  background-color: #4343FF;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.nav-main-box {
  transition: .4s;
  position: absolute;
  padding: 12px 16px;
  right: -100%;
  top: 60px;
  z-index: 9;
}

.blok {
  width: 26px;
  height: 21px;
  display: inline-block;
  cursor: pointer;
  margin-left: 3px;
}

.bar1,
.bar2,
.bar3 {
  width: 22px;
  height: 2px;
  background-color: #fff;
  transition: 0.4s;
}

.bar1 {
  margin-top: 2px;
}

.bar2 {
  margin: 5px 0;
}

.change .bar1 {
  transform: translate(0, 7px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -7px) rotate(45deg);
}

.nav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0;

  li {
    padding: 5px 15px;

    &::before {
      display: none;
    }
  }

  a {
    color: #222;
    font-family: Mont, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    white-space: nowrap;
    transition: border-bottom .3s ease;

    &::before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #ff4e7c;
      transition: width .3s ease;
    }

    &:hover {
      color: #ff4e7c;
    }

    &:hover::before {
      width: 100%;
    }
  }
}

.social {
  display: flex;

  .mess {
    img {
      width: 40px;
      height: 40px;
      transition: .3s ease;

      &:hover {
        transform: scale(1.3);
      }
    }
  }
}

.viber {
  margin-left: 15px;
}


@media screen and (min-width: 1024px) {
  .nav-main-box {
    box-shadow: none;
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }

  .burger .blok {
    display: none;
  }

  .burger .drop-btn {
    display: none;
  }
}

/*---------------------------------------*/
.header {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/header-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -3;
  }
}

.header-text {
  color: #222;
  font-family: Mont, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 661px;

  span {
    font-family: Mont-bold, sans-serif;
  }
}

.header-title {
  color: #4343FF;
  font-family: Mont-Heavy, sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  margin: 30px auto;
  margin-right: -68px;

  span {
    font-family: Mont-Heavy, sans-serif;
    color: #FF4E7C;
  }
}

.header-subtitle {
  color: #222;
  font-family: Mont-bold, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin-right: -62px;

  ul {
    margin-top: 10px;
  }

  li {
    color: #222;
    font-family: Mont;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: none;
    position: relative;
    padding: 9px 0 0 30px;

    &::before {
      position: absolute;
      content: '';
      top: 10px;
      left: 0;
      border: none;
      width: 22px;
      height: 22px;
      background: url(../images/checked.webp);
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}

.header-price {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: -350px;
  z-index: 2;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 510px;
  width: 100%;
}

.inline-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.old {
  color: #222;
  font-family: Mont, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 10px;
}

.discount {
  color: #FFF;
  font-family: Mont-bold, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  width: 65px;
  height: 29px;
  border-radius: 6px;
  background: #FF4E7C;
  padding-left: 8px;
}

.new {
  color: #FF4E7C;
  font-family: Mont-Bold, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
}

.btn {
  font-family: "SF UI Display", sans-serif;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  cursor: pointer;
  border-radius: 50px;
  background: linear-gradient(347deg, #FF628B 0%, #FF4E7C 100%);
  padding: 30px;
  max-width: 243px;
  width: 100%;
  max-height: 80px;
  margin: 0 60px 5px 30px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 80px;
    border-radius: 50px;
    background: #EC3062;
    transition: bottom 0.3s ease;
    z-index: -1;
  }
}

.btn:hover::after {
  bottom: 0px;
}

.bonus-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-bonus-img {
  width: 76px;
  height: 81px;
}

.header-bonus {
  color: #222;
  font-family: Mont, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  max-width: 429px;
  margin-left: 17px;

  span {
    font-family: Mont-bold, sans-serif;
  }
}


.header-img {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    bottom: 170px;
    left: -120px;
    width: 421px;
    height: 350px;
    background: url(../images/tropical-palm-1.webp);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &::after {
    position: absolute;
    content: "";
    top: 60px;
    right: -60px;
    max-width: 481px;
    width: 100%;
    height: 387px;
    background: url(../images/tropical-palm-2.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .autor-img {
    width: 475px;
    height: 673px;
    position: relative;
    top: -60px;
    z-index: 2;
  }
}

/*---------------------------------------*/

h2 {
  color: #4343FF;
  text-align: center;
  font-family: Mont-heavy, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  margin: 120px auto 30px;

  span {
    color: #FF4E7C;
    font-family: Mont-heavy, sans-serif;
  }
}

p {
  color: #222;
  font-family: Mont, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.who-this-course {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: -300px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(../images/clouds.webp);
    background-repeat: revert;
    background-size: contain;
    z-index: -2;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: -400px;
    left: 0;
    width: 850px;
    height: 694px;
    background: url(../images/psevdo-1.webp);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -2;
  }

  h2 {
    margin-top: 0;
  }

}

.who-this-course .text-item {
  margin: 20px auto 40px;
  text-align: center;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 413px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 4px 4px 18px 0px rgba(52, 73, 104, 0.15);
  margin: 0 auto;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border-radius: 15px;
    border: 1px dashed #C1C1C1;
  }
}

.top-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 110px;
  background-color: #FFCAD8;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  .img-1 {
    width: 44px;
    height: 65px;
    margin-right: 20px;
  }

  .img-2 {
    width: 69px;
    height: 69px;
    margin-right: 10px;
  }

  .img-3 {
    width: 62px;
    height: 63px;
    margin-right: 9px;
  }
}

.title-block {
  color: #222;
  font-family: Mont;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;

  span {
    font-family: Mont-bold, sans-serif;
  }
}

.bottom-block {
  padding: 30px 40px;
  margin-bottom: auto;

  p {
    font-size: 18px;
    padding-bottom: 10px;

    span {
      font-family: Mont-bold, sans-serif;
    }
  }
}

ul {
  padding-bottom: 10px;
}

li {
  color: #222;
  font-family: Mont, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 23px;
  position: relative;

  span {
    font-family: Mont-bold, sans-serif;
  }
}

ul>li::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 5px;
  width: 8px;
  height: 8px;
  background-color: #4343FF;
  border-radius: 10px;
}

.who-this-course .btn {
  max-width: 481px;
  padding: 20px;
  margin: 40px auto 5px;
  display: block;
}

/*---------------------------------------*/
.top-10 {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: -250px;
    right: 0;
    width: 620px;
    height: 100%;
    background: url(../images/psevdo-2.webp);
    background-repeat: no-repeat;
    background-size: contain;
  }

  h2 {
    max-width: 685px;
  }
}

.top-10-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 126px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 4px 4px 18px 0px rgba(52, 73, 104, 0.15);
  margin-bottom: 10px;
  position: relative;
  z-index: 2;

  &::before {
    position: absolute;
    content: '';
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
    border-radius: 15px;
    border: 1px dashed #C1C1C1;
  }
}

.top-10-num {
  position: absolute;
  content: "";
  top: 0;
  right: 15px;
  display: flex;
  width: 108px;
  height: 140px;
  align-items: center;
  justify-content: center;
  color: #e8ebf0;
  text-align: center;
  font-family: Mont-bold, sans-serif;
  font-size: 108px;
  z-index: -1;
}

.block-img {
  max-width: 116px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -10px;
}

.top-10-img {
  width: 74%;
}

.block-cetner {
  color: #222;
  font-family: Mont, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 716px;

  p {
    font-size: 18px;
    padding-right: 10px;
  }

  span {
    font-family: Mont-bold, sans-serif;
  }
}

/*---------------------------------------*/
.help {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -600px;
    left: 0px;
    width: 100%;
    height: 1100px;
    background: url(../images/psevdo-3.webp);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -2;
  }

  h2 {
    max-width: 885px;
  }
}

.help-box {
  width: 100%;
  max-height: 245px;
  height: 100%;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 4px 4px 18px 0px rgba(52, 73, 104, 0.15);
  margin-bottom: 20px;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
    border-radius: 15px;
    border: 1px dashed #C1C1C1;
  }

  &::after {
    position: absolute;
    content: '';
    top: 25px;
    left: 25px;
    width: 40px;
    height: 40px;
    background: url(../images/checked-1.webp);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  p {
    font-size: 18px;
    padding: 80px 18px 43px 25px;
  }
}

.low {
  max-height: 215px;
}

.help-img {
  position: relative;

  img {
    position: absolute;
    top: -80px;
    right: 10px;
    width: 269px;
    height: 330px;
    z-index: 2;
  }
}

/*---------------------------------------*/
.what-happen {
  h2 {
    text-align: left;
    margin: 120px auto 30px 0;
    max-width: 720px
  }

  img {
    width: 552px;
    height: 670px;
    margin-top: 100px;
    margin-left: -80px;
  }

  ul {
    padding-bottom: 0px;
  }

  li {
    padding-bottom: 20px;
    line-height: 1.2;
  }

  .btn {
    max-width: 481px;
    padding: 20px;
    margin: 10px auto 5px 0;
    display: block;
  }
}

/*---------------------------------------*/

.what-shall {
  margin-top: 60px;

  h2 {
    text-align: left;
    margin: 0;
  }

  .item {
    color: #222;
    font-family: Mont-bold, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 20px;
  }

  .box {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #fff;
    box-shadow: 4px 4px 18px 0 rgb(52 73 104 / 15%);
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 8px;
      right: 8px;
      bottom: 8px;
      left: 8px;
      border-radius: 15px;
      border: 1px dashed #C1C1C1;
    }

    &::after {
      position: absolute;
      content: '';
      top: 22px;
      left: 20px;
      width: 40px;
      height: 40px;
      background: url(../images/checked-2.webp);
      background-repeat: no-repeat;
      background-size: 100%;
    }

    p {
      font-size: 18px;
      padding: 90px 28px 55px;

      span {
        font-family: Mont-bold, sans-serif;
      }
    }
  }

  .blue {
    background: #4343FF;
    position: relative;

    &::before {
      border: 1px dashed #fff;
    }

    &::after {
      position: absolute;
      content: '';
      top: 30px;
      left: 28px;
      width: 40px;
      height: 40px;
      background: url(../images/checked-3.webp);
      background-repeat: no-repeat;
      background-size: 100%;
    }

    p {
      color: #FFF;
      padding: 90px 28px 0 28px;
    }
  }

  .btn-box {
    position: relative;
    z-index: 5;
  }

  .btn {
    max-width: 249px;
    padding: 20px 35px 20px;
    margin: 30px auto 5px;
    display: block;
  }
}

/*---------------------------------------*/
.after-passing {
  h2 {
    text-align: left;
    margin-left: 0;
  }

  li {
    line-height: 1.3;
    padding-left: 12px;
    padding-bottom: 20px;

    &::before {
      left: 0;
    }
  }

  .btn {
    max-width: 481px;
    padding: 20px;
    margin: 0px auto 5px 0;
    display: block;
  }

  img {
    max-width: 786px;
    width: 120%;
    height: auto;
    margin-bottom: 100px;
    margin-left: -125px;
  }
}

/*---------------------------------------*/
.advantages {
  h2 {
    max-width: 700px;
  }

  .wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .wrap-box {
    width: 244px;
    height: 531px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 4px 4px 18px 0px rgba(52, 73, 104, 0.15);
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 8px;
      right: 8px;
      bottom: 8px;
      left: 8px;
      border-radius: 15px;
      border: 1px dashed #C1C1C1;
    }
  }

  .image {
    margin-top: 28px;
    margin-left: 22px;
    margin-bottom: -25px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      bottom: 0px;
      left: 54px;
      width: 22px;
      height: 22px;
      background: url(../images/checked-5.webp);
      background-repeat: no-repeat;
      background-size: 100%;
    }

    img {
      width: 72px;
      height: 66px;
    }
  }

  p {
    font-size: 18px;
    line-height: 1.3;
    padding: 40px 22px 0 22px;

    span {
      font-family: Mont-bold, sans-serif;
    }
  }

  .btn {
    max-width: 481px;
    padding: 20px;
    margin: 40px auto 5px;
    display: block;
  }
}

/*---------------------------------------*/
.course-format {
  h2 {
    text-align: left;
    margin-left: 0;
  }

  ol {
    list-style-type: auto;
  }

  li {
    padding: 0;
    padding-bottom: 13px;
    max-width: 515px;
  }

  img {
    max-width: 875px;
    width: 100%;
    height: auto;
  }
}

/*---------------------------------------*/
.speaker {
  background-image: url(../images/autor-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 99px;
    background: linear-gradient(360deg, #f6f8fc 0, rgba(246, 248, 252, 0) .01%, #f6f8fc 91.92%);
  }

  &::after {
    position: absolute;
    content: '';
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 99px;
    background: linear-gradient(180deg, #F6F8FC 0%, rgba(246, 248, 252, 0.00) 0.01%, #F6F8FC 91.92%);
  }

  img {
    width: 797px;
    height: 660px;
    margin-top: 35px;
    margin-left: -95px;
  }

  h2 {
    text-align: left;
    margin-left: 0;
    max-width: 538px;
  }

  ul {}

  li {
    position: relative;
    padding: 0 0 15px 35px;
    max-width: 585px;

    &::before {
      position: absolute;
      content: '';
      top: 1px;
      left: 0;
      border: none;
      width: 22px;
      height: 22px;
      background: url(../images/checked.webp);
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}

/*---------------------------------------*/
.speaker-slider {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 850px;
  width: 100%;

  .slick-slide {
    margin: 0 10px;
  }

  .slick-dots {
    bottom: -50px;
  }

  .item {
    img {
      border-radius: 20px;
      width: 100%;
    }
  }
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    position: relative;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 0 5px;
    padding: 15px;
    cursor: pointer;

    &::before {
      display: none;
    }

    &:hover,
    &:focus {
      &:before {
        background-color: #4343FF;
      }
    }

    button {
      border: 0;
      background: transparent;
      display: block;
      height: 12px;
      width: 12px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer;

      &:hover,
      &:focus {
        &:before {
          background-color: #4343FF;
          opacity: 0.7;
        }
      }

      &:before {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 12px;
        height: 12px;
        content: "";
        background-color: #FFF;
        border: 2px solid #4343FF;
        border-radius: 12px;
      }
    }

    &.slick-active button:before {
      background-color: #4343FF;
    }
  }
}

.smi-list {
  min-height: 100px;
  max-width: 850px;
  margin: 150px auto 0;

  .slick-slide,
  .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;

  &:hover,
  &:focus {
    outline: none;
    background: transparent;
    color: transparent;

    &:before {
      opacity: $slick-opacity-on-hover;
    }
  }

  &.slick-disabled:before {
    opacity: $slick-opacity-not-active;
  }

  &:before {
    font-family: $slick-font-family;
    font-size: 20px;
    line-height: 1;
    color: $slick-arrow-color;
    opacity: $slick-opacity-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.slick-prev,
.slick-next {
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #fff;
  border: 2px solid #222222;
  position: absolute;
}

.slick-prev {
  left: -50px;

  &:before {
    position: absolute;
    content: url(../images/arrow.svg);
    top: 8px;
    left: 10px;
  }
}

.slick-next {
  right: -50px;

  &:before {
    position: absolute;
    content: url(../images/arrow-next.svg);
    top: 8px;
    right: 10px;
  }
}

/*---------------------------------------*/
.how-will {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -585px;
    left: 0;
    width: 850px;
    height: 694px;
    background: url(../images/psevdo-4.webp);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: -120px;
    right: 0;
    width: 620px;
    height: 100%;
    background: url(../images/psevdo-2.webp);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.how-will-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 126px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 4px 4px 18px 0px rgba(52, 73, 104, 0.15);
  margin-bottom: 10px;
  position: relative;
  z-index: 2;

  &::before {
    position: absolute;
    content: '';
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
    border-radius: 15px;
    border: 1px dashed #C1C1C1;
  }
}

.how-will-num {
  position: absolute;
  content: "";
  top: 0;
  left: 22px;
  width: 57px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e8ebf0;
  text-align: center;
  font-family: Mont-bold, sans-serif;
  font-size: 108px;
}


.how-will .block-cetner {
  color: #222;
  font-family: Mont, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 97px;
  max-width: none;

  p {
    font-size: 18px;
    max-width: 733px;
  }

  span {
    font-family: Mont-bold, sans-serif;
  }

  p:first-of-type {
    padding-bottom: 10px;
  }
}

/*---------------------------------------*/
.recommendations {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -600px;
    left: 0;
    width: 100%;
    height: 1000px;
    background: url(../images/psevdo-6.webp);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &::after {
    position: absolute;
    content: '';
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 257px;
    background: linear-gradient(180deg, rgba(246, 248, 252, 0.00) 0%, #F6F8FC 91.92%);
    z-index: -2;
  }

  h2 {
    text-align: left;
    margin-left: 0;
    margin-top: 140px;
    width: 643px;
  }

  img {
    max-width: 904px;
    width: 120%;
    height: auto;
    margin-left: -130px;
    position: relative;
    z-index: -2;
  }


  li {
    position: relative;
    padding: 0 0 15px 35px;
    max-width: 615px;

    &::before {
      position: absolute;
      content: '';
      top: 1px;
      left: 0;
      border: none;
      width: 22px;
      height: 22px;
      background: url(../images/checked.webp);
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  .btn {
    max-width: 481px;
    padding: 20px;
    margin: 5px auto 5px 0;
    display: block;
  }
}

/*---------------------------------------*/
.price {
  h2 {
    max-width: 885px;
    margin-top: 70px;
  }
}

.price-item {
  text-align: center;
  padding-top: 10px;

  span {
    color: #FF4E7C;
    font-family: Mont-black, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 950;
    line-height: normal;
  }
}

.timer {
  color: #FF4E7C;
  text-align: center;
  font-family: Mont-Heavy, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.price-flex {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
}

.price-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 4px 4px 18px 0px rgba(52, 73, 104, 0.15);
  max-width: 413px;
  width: 100%;
  margin-top: 30px;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border-radius: 15px;
    border: 1px dashed #C1C1C1;
  }
}

.top {
  color: #FFF;
  font-family: Mont-black, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 950;
  line-height: normal;
  text-transform: uppercase;
  width: 100%;
  height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue {
  background-color: #4343FF;
}

.red {
  background-color: #FF4E7C;
}

.content {
  background-color: #FFf;
  margin-bottom: auto;

  ul {
    padding: 30px 40px 0;

    li {
      padding-bottom: 10px;
    }
  }
}

.bottom {
  width: 100%;
  border-radius: 20px;
}

.blue-1 {
  background: #ECECFF;
}

.red-1 {
  background: #FFEAEF;
}

.price-full {
  color: #222;
  font-family: Mont, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding-top: 30px;

  s {
    font-family: Mont, sans-serif;
  }
}

.price-today {
  color: #FF4E7C;
  font-family: Mont-bold, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
}

.price .btn-box {
  position: relative;
  z-index: 5;
}

.price .btn {
  max-width: 243px;
  margin: 5px auto 35px;
  display: block;
}

.price-bonus {
  max-width: 846px;
  width: 100%;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 4px 4px 18px 0px rgba(52, 73, 104, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 38px 44px 44px;
  margin: 20px auto 0;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border-radius: 15px;
    border: 1px dashed #C1C1C1;
  }

  img {
    width: 76px;
    height: 81px;
  }

  p {
    font-size: 18px;
    padding-left: 17px;

    span {
      font-family: Mont-bold, sans-serif;
    }
  }
}

/*---------------------------------------*/
.reviews {
  h2:first-of-type {
    max-width: 670px;
    margin-bottom: 20px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: -5px;
      right: 5px;
      width: 73px;
      height: 48px;
      background: url(../images/logo.webp);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  h2:last-of-type {
    max-width: 1016px;
    margin: 50px auto 0;
  }

  p {
    text-align: center;
  }

  img {
    width: 100%;
    height: 100%;
    padding: 0 15px;
  }
}

/*---------------------------------------*/

.answers {
  h2 {
    margin: 100px auto 40px;
  }
}

.answers-border {
  max-width: 846px;
  min-height: 70px;
  background: #FFF;
  border-radius: 20px;
  box-shadow: 4px 4px 18px 0px rgba(52, 73, 104, 0.15);
  margin: 10px auto;
  padding: 15px 24px 15px 40px;
}

.accordion {
  color: #222;
  font-family: "Mont-Bold", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: left;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-content {
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-out;

  p {
    color: #222;
    font-family: "Mont", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 18px;
  }
}

.bg-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4343FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(45deg);
  transition: transform 0.3s ease-out;
  margin-top: -6px;
}

.footer {
  margin-top: 100px;
  background: #EAEAF0;
  text-align: center;

  .logo {
    width: 156px;
    height: 103px;
    margin: 20px 0;
  }

  a {
    font-family: "Mont", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #222222;
    transition: border-bottom 0.3s ease;

    &:hover {
      color: #FF4E7C;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #FF4E7C;
      transition: width 0.3s ease;
    }

    &:hover::before {
      width: 100%;
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
  }

  ul li {
    text-align: center;
    padding: 5px 5px;

    &::before {
      display: none;
    }
  }

  .phone {
    justify-content: center;
    margin: 0;
  }
}

.mess {
  img {
    width: 35px;
    height: 35px;
    transition: 0.3s ease;

    &:hover {
      transform: scale(1.3);
    }
  }
}

.viber {
  margin-left: 8px;
}

@media screen and (min-width: 992px) and (max-width: 1023px) {
  .nav {
    .burger {
      order: 3 !important;
    }

    .social {
      order: 2 !important;
    }
  }

  .header-price {
    align-items: center;
    justify-content: flex-start;
    margin-top: -350px;
    z-index: 2;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .nav-main {
    li {
      padding: 5px 8px;

      a {
        font-size: 17px;
      }
    }
  }

  .who-this-course {
    h2 {
      margin-top: 40px;
    }
  }

  .block-cetner p {
    padding-right: 15px;
  }

  .help-box {
    max-height: none;
    height: 100%;

    p {
      padding-bottom: 20px;
    }
  }

  .low {
    max-height: 250px !important;
    margin-top: 20px;
  }

  .what-happen img {
    margin-left: -120px;
  }

  .what-shall {
    margin-top: 90px;

    .box p {
      padding-bottom: 20px;
    }

    .btn {
      max-width: 203px;
      padding: 20px 21px 20px;
    }
  }

  .after-passing img {
    margin-bottom: 125px;
    margin-left: -135px;
    width: 130%;
  }

  .advantages {
    .wrap {
      justify-content: center;
      gap: 20px;
    }

    .wrap-box {
      width: 290px;
      height: 435px;
    }
  }

  .speaker {
    h2 {
      margin-top: 60px;
      z-index: 2;
      position: relative;
    }

    li {
      z-index: 2;
    }

    img {
      margin-left: -140px;
    }
  }

  .recommendations img {
    margin-top: 70px;
  }

  .footer li {
    line-height: 1.2;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {

  .header-subtitle,
  .header-title {
    position: relative;
    z-index: 3;
  }

  .header-img {
    margin-left: -55px;

    &::after {
      right: 0;
      top: 90px;
    }
  }

  .header-img .autor-img {
    width: 100%;
    height: auto;
  }

  .header-price {
    margin-top: -80px;
  }
}

@media screen and (min-width: 1086px) and (max-width: 1199px) {
  .header-img .autor-img {
    width: 90%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1329px) {
  .header-img .autor-img {
    width: 76%;
  }

  .header-price {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1330px) and (max-width: 1439px) {
  .header-img .autor-img {
    width: 63%;
  }

  .header-price {
    margin-bottom: 50px;
  }
}

/*-------------------------*/
.fancybox-content {
  max-width: 532px;
  width: 100%;
  max-height: 614px;
  height: 100%;
  border-radius: 20px;
}

.form-title {
  color: #4343FF;
  text-align: center;
  font-family: Mont-heavy, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  margin: 0px;
}

.form-subtitle {
  color: #222;
  text-align: center;
  font-family: Mont, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 324px;
  margin: 10px auto 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 5;
}

form label {
  color: #000;
  font-family: Mont, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 20px;
  padding-bottom: 3px;
}

form input {
  width: 410px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #222;
  margin: 0 auto;
  font-size: 18px;
}

form .btn {
  padding: 30px 32px;
  margin: 20px auto 5px;
  border: none;
  cursor: pointer;
}

.fancybox-close-small {
  margin: 10px;
}

.fancybox-button svg {
  border: 1px solid;
  border-radius: 50%;
}

body {
  background: #F6F8FC;
  @import 'MediaQueries/main';
}