@font-face {
	font-family: "Mont-Regular";
	src: url("../fonts/Mont-Regular.eot");
	src: url("../fonts/Mont-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Mont-Regular.ttf") format("truetype"),
		url("../fonts/Mont-Regular.woff") format("woff"),
		url("../fonts/Mont-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Mont-SemiBold";
	src: url("../fonts/Mont-SemiBold.eot");
	src: url("../fonts/Mont-SemiBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Mont-SemiBold.ttf") format("truetype"),
		url("../fonts/Mont-SemiBold.woff") format("woff"),
		url("../fonts/Mont-SemiBold.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Mont-Bold";
	src: url("../fonts/Mont-Bold.eot");
	src: url("../fonts/Mont-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Mont-Bold.ttf") format("truetype"),
		url("../fonts/Mont-Bold.woff") format("woff"),
		url("../fonts/Mont-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Mont-Heavy";
	src: url("../fonts/Mont-Heavy.eot");
	src: url("../fonts/Mont-Heavy.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Mont-Heavy.ttf") format("truetype"),
		url("../fonts/Mont-Heavy.woff") format("woff"),
		url("../fonts/Mont-Heavy.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SignPainter";
	src: url("../fonts/SignPainter-HouseScript-Semibold.eot");
	src: url("../fonts/SignPainter-HouseScript-Semibold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/SignPainter-HouseScript-Semibold.ttf") format("truetype"),
		url("../fonts/SignPainter-HouseScript-Semibold.woff") format("woff"),
		url("../fonts/SignPainter-HouseScript-Semibold.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Oks Free";
	src: url("../fonts/oks.eot");
	src: url("../fonts/oks.eot?#iefix") format("embedded-opentype"),
		url("../fonts/oks.ttf") format("truetype"),
		url("../fonts/oks.woff") format("woff"),
		url("../fonts/oks.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Involve-Regular";
	src: url("../fonts/Involve-Regular.otf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}



