& {
  .mob {
    display: block;
  }

  .desctop {
    display: none;
  }

  .head {
    &::before {
      top: -17px;
      left: -62px;
      width: 458.092px;
      height: 280.498px;
    }

    .inline {
      justify-content: space-between;

      img {
        width: 28%;
        height: 28%;
        margin-right: 8px;
      }
    }
  }

  .logo {
    margin-top: 30px;
    width: 60px;
    height: 40px;
  }

  .data-start {
    font-size: 14px;
    font-style: normal;
    line-height: normal;
  }

  .header-title {
    text-align: center;
    font-size: 28px;
    font-style: normal;
    line-height: normal;
    margin: 30px 0 10px;
  }

  .header-title-item {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    line-height: 140%;
    margin-bottom: 30px;
  }

  .btn {
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    padding: 20px;
    max-width: 305px;
    width: 100%;
    max-height: 60px;
    display: block;
    margin: 0 auto;
  }

  .header-img {
    margin: 20px auto 60px;
    display: block;
  }


  .sec-triangle {
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }

    .image {
      img {
        width: 45%;
        height: auto;
      }
    }

    .inline {
      justify-content: center;
    }
  }

  h2 {
    text-align: center;
    font-size: 22px;
    font-style: normal;
    line-height: normal;
  }

  .sec-triangle {
    .title {
      margin-top: 0;
    }
  }

  .content {
    margin: 15px 0 0;

    .column {
      &:nth-of-type(1) {
        margin-bottom: 35px;
        margin-right: -25px;
      }

      &:nth-of-type(2) {
        p {
          margin-left: -20px;
        }
      }

      &:nth-of-type(3) {
        margin-bottom: 30px;
        margin-left: -40px;
      }
    }
  }

  .triangle-text {
    font-size: 12px;
    font-style: normal;
    line-height: 140%;
    max-width: 75px;
  }

  .image {
    &::before {
      left: 7px;
      top: 7px;
      width: 67.766px;
      height: 24.68px;
    }
  }

  .triangle-img {
    width: 375px;
  }

  .block {
    font-size: 16px;
    font-style: normal;
    line-height: 140%;
    padding: 20px 15px;
    border: 2px solid #222222;
    border-radius: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 40px;
    text-align: center;
  }

  .triangle-small {
    .column {
      &:nth-of-type(1) {
        margin-bottom: 50px;
        margin-right: -70px;

        .triangle-text {
          max-width: 120px;
        }
      }

      &:nth-of-type(2) {
        .inline {
          margin-bottom: -15px;
        }
      }

      &:nth-of-type(3) {
        margin-bottom: 20px;
        margin-left: -20px;
      }
    }

    .image {
      &::before {
        left: 7px;
        top: 7px;
        width: 67.766px;
        height: 24.68px;
      }
    }

    .triangle-text {
      font-size: 12px;
    }
  }

  .triangle-title {
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
  }

  .triangle-title-item {
    font-size: 16px;
    font-style: normal;
    line-height: 140%;
  }

  .banner {
    margin-top: 50px;
    min-height: 510px;

    &::before {
      bottom: -30px;
      left: 10px;
      width: 225px;
      height: 221px;
    }

    &::after {
      bottom: 80px;
      right: -15px;
      width: 172px;
      height: 124px;
    }

    .title {
      font-size: 22px;
      text-align: center;
      font-style: normal;
      line-height: normal;
      margin-top: 60px;
      padding: 0 15px 0;
    }

    .btn {
      padding: 20px 40px;
    }
  }

  .banner-float-btn {
    max-height: 60px;
    padding: 20px 55px;
  }

  .info {
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .info-text {
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 30px;
  }

  .frame {
    margin: 30px auto;

    &::after {
      bottom: -10px;
      right: -10px;
    }
  }

  .quotes {
    &::before {
      top: -53px;
      left: 20px;
      font-size: 120px;
      font-style: normal;
      line-height: normal;
    }
  }

  .frame-title {
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    padding: 48px 20px 0;
  }

  .frame-text {
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    padding: 15px 20px 30px;
  }

  .program {
    .block {
      font-size: 16px;
      font-style: normal;
      line-height: normal;
      border-radius: 30px;
      padding: 40px 30px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin: 75px auto 0;
      text-align: center;

      &::before {
        top: -55px;
        left: 0px;
        border-radius: 30px;
        z-index: -1;
      }

      &::after {
        content: url(../images/vector-5-bold.svg);
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .text-left {
    margin: 30px 0 15px;
  }

  ul>li {
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    padding: 0 20px 10px 15px;
  }

  li::before {
    top: 5px;
    left: -3px;
  }

  .autor-img {
    margin: 0px auto 0;
    width: 100%;
  }

  .modules {
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }

    .frame {
      &::before {
        top: 110px;
      }

      &::after {
        right: -10px;
      }
    }

    .marker {
      margin: 20px;
    }

    .slick-slide {
      margin: 0 10px;
    }
  }

  .modul-title {
    font-size: 22px;
    font-style: normal;
    line-height: normal;
    padding: 25px;
  }

  .modul-title-item {
    font-style: normal;
    line-height: normal;
    margin: 20px 0 -10px 20px;
  }


  .price {
    margin: 80px 0;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .text-center {
    padding: 60px 0 30px;

    p {
      margin-top: 10px;
    }
  }

  .price-title {
    p {
      margin-top: 30px;
    }
  }

  .price .top ul {
    margin: 20px;
  }

  .price .top li {
    padding: 5px 10px;

    &::before {
      top: 13px;
    }
  }

  .bottom {
    border-width: 2px;

    .order-btn,
    .btn {
      padding: 30px 15px;
      max-width: 305px;
      width: 100%;
      max-height: 80px;
      height: 100%;
    }
  }

  /* .price-full {
      margin-top: 30px;
    } */
  .price-today {
    font-size: 18px;
    font-style: normal;
    line-height: normal;
  }

  /* .price-from {
      margin: 10px 0 30px;
    } */


  .pay-parts {
    margin: 230px 0 60px;

    .title {
      margin-bottom: 20px;
    }

    .pay-part-title {
      font-size: 16px;
      font-style: normal;
      line-height: normal;
      padding: 20px 10px;
    }

    .pay-part-item {
      font-size: 16px;
      font-style: normal;
      line-height: normal;
      padding: 25px 17px 40px;
    }
  }

  .bonus {
    .title {
      margin-bottom: 0px;
    }

    h6 {
      font-size: 16px;
      font-style: normal;
      line-height: normal;
      margin-bottom: 20px;
    }

    li::before {
      left: 0;
    }
  }

  .bonus-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bonus-left-title {
    font-size: 22px;
    font-style: normal;
    line-height: normal;
    margin: 30px 0 10px;
  }

  .bonus-left-item {
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 6px;
  }

  .bonus-left-text {
    margin: 30px auto 20px;
  }

  .border {
    border: 2px solid #222222;
    border-radius: 20px;
    padding: 20px 0px 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 20px;
    text-align: center;
  }

  .bonus-price {
    font-size: 16px;
    font-style: normal;
    line-height: normal;

    i {
      font-size: 32px;
      line-height: 41px;
    }
  }

  .bonus-price-item {
    font-size: 18px;
    font-style: normal;
    line-height: normal;
  }

  .bonus-right-title {
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    margin-top: 5px;
  }

  .bonus-right-item {
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    margin: 20px 0 30px;
  }

  .speaker-img {
    width: 100%;
    margin: -50px auto 0;
  }

  .title-block {
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;

    .speaker-title {
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    .speaker-frame {
      font-size: 16px;
      font-style: normal;
      line-height: normal;
      padding: 15px 24px;
      margin-left: 0px;
    }
  }

  .speaker-slider {
    margin-top: 20px;

    .slick-slide {
      margin: 0 6px;
    }
  }

  .smi-list {
    .slick-next {
      right: -40px;
    }
  }

  .reviews {
    h2 {
      margin-top: 50px;
    }

    .slick-slide {
      margin: 0 10px;
    }

    .slick-dots li {
      margin: 0px 2px;
    }

    .frame::after {
      right: -10px;
    }
  }

  .reviews-tite {
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    margin: 45px 20px 0 20px;
  }

  .reviews-item {
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    padding: 20px 20px 40px;
  }

  .footer {
    padding-bottom: 70px;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 15px 0;
    }
  }

  .mess {
    img {
      width: 30px;
      height: 30px;
    }
  }

  .viber {
    margin-left: 20px;
  }

  @media screen and (max-width: 768px) {
    .separator {
      margin: 70px 0;

      &::before {
        top: -35px;
        width: 220%;
      }

      &::after {
        bottom: -65px;
        width: 220%;
      }
    }

    .bg-img {
      &::before {
        display: none;
      }
    }
  }

  @media screen and (min-width: 320px) and (max-width: 569px) {

    .triangle-img,
    .triangle-small .triangle-img {
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .desctop-text {
      display: none;
    }

    .mob-text {
      display: block;
    }

    .inline .inline:nth-of-type(1) {
      img {
        width: 25px;
        height: 31px;
      }
    }

    .inline .inline:nth-of-type(2) {
      img {
        width: 27px;
        height: 34px;
      }
    }
  }

  @media screen and (max-width: 374px) {
    .price {

      .bottom .btn,
      .bottom .order-btn {
        padding: 25px 5px;
        max-width: inherit;
        max-height: inherit;
        min-width: 100px;
      }
    }

    .price-today b {
      font-size: 42px;
    }
  }
}