@import '../../mq';

@media #{$tabletLandscape} {
  @import '../desktop';

  .thank-you {
    &::after {
      top: -18px;
      right: -380px;
    }

    .container {
      &::after {
        height: 420px;
      }
    }
  }
}