@import 'variables';
@import 'fancybox.scss';
@import 'slick.scss';
@import 'slick-theme.scss';

span {
  font-family: "Mont-Bold";
  font-weight: 800;
}

i {
  color: #FF4E7C;
}

.desk {
  display: block;
}

.mob {
  display: none;
}

nav {
  background: #4EDFFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}

.roller {
  height: 40px;
  display: flex;
  align-items: center;
}

.roller span {
  position: relative;
  color: #FFF;
  font-family: "Mont-Heavy", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 950;
  line-height: normal;
  text-transform: uppercase;
  padding: 0 30px;
}

.head {
  background-image: url(../images/header-bg.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  padding-bottom: 150px;
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0;
    width: 100%;
    height: 86%;
    background: #4343FF;
    -webkit-filter: drop-shadow(0px 4px 54px rgba(0, 0, 0, 0.10));
    filter: drop-shadow(0px 4px 54px rgba(0, 0, 0, 0.10));
    background-repeat: no-repeat;
    z-index: -2;
  }

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 350px;
    height: 560px;
    background: url(../images/header-psevdo-1.webp);
    background-repeat: no-repeat;
  }

  .container {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 22px;
      right: -9%;
      width: 265px;
      height: 217px;
      background: url(../images/header-img-psevdo-1.webp);
      background-repeat: no-repeat;
    }
  }
}

.logo-center {
  text-align: center;
}

.head .logo {
  width: 116px;
  height: 77px;
  margin-top: 50px;
}

.top-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 34px;
}

.inline-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  img {
    margin-right: 15px;
    width: 40px;
    height: 40px;
  }
}

.inline-block:first-of-type {
  margin-right: 25px;
}

.data-start {
  color: #fff;
  font-family: "Mont", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 365px;
}

.header-title {
  font-family: "Mont-Heavy", sans-serif;
  color: #fff;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  z-index: 2;
  margin-top: 45px;

  span {
    font-family: "Mont-Heavy", sans-serif;
    color: #FFBF43;
  }
}

.subtitle {
  font-family: "Mont-Bold", sans-serif;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%;
  margin: 15px 0;
  max-width: 605px;
}

.header-box {
  display: flex;
  align-items: center;

  img {
    width: 51px;
    height: 62px;
    margin-right: 15px;
  }
}

.subtitle-item {
  font-family: "Mont", sans-serif;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  line-height: 140%;
  margin: 15px 0;

  span {
    color: #fff;
    font-family: "Mont-bold", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
  }
}

.header-flex .price-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 30px;
}

.head .btn-box {
  margin: 55px 0 55px;
}

.head-btn {
  font-family: "SF UI Display", sans-serif;
  color: #FFF;
  text-align: left;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 50px;
  background: linear-gradient(326deg, rgba(214, 255, 98, .84) 34%, #ff4e4e 73%);
  padding: 30px 90px;
  padding-left: 45px;
  max-width: 305px;
  max-height: 80px;
  position: relative;
  z-index: 1;
  transition: .5s ease;
  box-shadow: 0px 4px 1px rgb(255, 78, 78);

  &:hover {
    box-shadow: none;
  }

  .zirka {
    position: absolute;
    content: '';
    left: 205px;
    top: -17px;
    width: 108px;
    height: 118px;
    -webkit-animation: rotate 10s linear infinite;
    animation: rotate 10s linear infinite;
    z-index: 2;

    img {
      width: 100%;
    }
  }
}


.btn {
  font-family: "SF UI Display", sans-serif;
  color: #FFF;
  text-align: left;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 50px;
  background: linear-gradient(347deg, #FF628B 0%, #FF4E7C 100%);
  padding: 30px 90px;
  padding-left: 45px;
  max-width: 305px;
  max-height: 80px;
  position: relative;
  z-index: 1;

  &::after {
    position: absolute;
    content: "";
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 80px;
    border-radius: 50px;
    background: #EC3062;
    transition: bottom 0.3s ease;
    z-index: -1;
  }

  .zirka {
    position: absolute;
    content: '';
    left: 205px;
    top: -17px;
    width: 108px;
    height: 118px;
    -webkit-animation: rotate 10s linear infinite;
    animation: rotate 10s linear infinite;
    z-index: 2;

    img {
      width: 100%;
    }
  }
}

.btn:hover::after {
  bottom: 0px;
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.btn-block-item {
  color: #FFF;
  font-family: "Mont", sans-serif;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  position: absolute;
  z-index: 3;
  display: grid;
  left: 220px;
  top: 19px;

  span {
    color: #FFF;
    text-align: center;
    font-family: "Mont-Bold", sans-serif;
    font-size: 32px;
    font-weight: 800;
  }
}

.header-price {
  color: #FFBF43;
  font-family: Mont-Heavy, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  text-align: left;
  margin-left: 20px;
  max-width: 160px;
}

.header-price s {
  font-family: Mont, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.head .bonus-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-left: 1px solid #FFF;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.10);
  max-width: 557px;
  min-height: 100px;
  padding: 15px 15px 20px 20px;
  margin-top: 18px;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 10px;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, #FFF, #4343FF);
  }

  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 10px;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, #FFF, #4343FF);
  }
}

.head .header-bonus {
  color: #FFF;
  font-family: "Mont", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  max-width: 445px;
}

.head .header-bonus-img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.header-autor,
.header-autor-1 {
  display: none;
}

h2 {
  color: #4343FF;
  text-align: center;
  font-family: "Mont-Heavy", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 40px;

  i {
    color: #FF4E7C;
    font-family: "Mont-Heavy", sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
  }
}

.who-this-course {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    top: -470px;
    right: 0;
    width: 665px;
    height: 527px;
    background: url(../images/header-img-psevdo-2.webp);
    background-repeat: no-repeat;
  }

  h2 {
    margin-top: 50px;
    color: #FF5884;
  }
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.who-this-course .frame {
  width: 305px;
  min-height: 182px;
  border-radius: 20px;
  border: 2px solid #222;
  background: #FFF;
  margin: 10px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 32px;
    left: 22px;
    width: 14px;
    height: 14px;
    background-color: #FFCAD8;
    border: 2px solid #FF5884;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: -10px;
    background: #FF5884;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    z-index: -3;
  }
}

.who-this-course .frame:first-of-type {
  margin-left: 0;
}

.who-this-course .text {
  color: #222;
  font-family: "Mont", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 56px 11px 22px 21px;
}


.banner.first {
  background: #FF5884;
  margin-bottom: 0;

  &::before {
    bottom: 62px;
    left: -50px;
    width: 278px;
    height: 142px;
    background-image: url(../images/cloud-first-ban.webp);
  }

  &::after {
    bottom: -43px;
    right: -65px;
  }

  .banner-item {
    max-width: 835px;
  }

  .btn-box {
    margin: 55px auto 55px;
  }

  .head-btn {
    background: linear-gradient(316deg, rgba(255, 229, 0, .84) 34%, #1376a0 73%);
    box-shadow: 0px 4px 1px #1376a0;

    &:hover {
      box-shadow: none;
    }
  }
}

.top-10 {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: -175px;
    left: 0;
    width: 489px;
    height: 983px;
    background: url(../images/elem-2.webp);
    background-repeat: no-repeat;
    z-index: -1;
  }

  &::after {
    position: absolute;
    content: '';
    bottom: -250px;
    right: 50px;
    width: 519px;
    height: 781px;
    background: url(../images/elem-3.webp);
    background-repeat: no-repeat;
    z-index: -1;
  }

  h2 {
    max-width: 886px;
    margin: 120px auto 20px;
  }
}

.top-10-item {
  color: #000;
  text-align: center;
  font-family: "Mont-Bold", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 50px;
}

.top-10-block {
  min-height: 112px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;

}

.top-10-num {
  width: 20%;
  height: 100%;
  border-radius: 20px;
  border: 2px solid #222;
  background: #4343FF;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2%;
}

.num-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  color: #FFF;
  text-align: left;
  font-family: "Mont-Bold", sans-serif;
  font-size: 68px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.block-item {
  margin-left: -80px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  border: 2px solid #222;
  background: #FFF;

  img {
    margin: 0 11px 0 33px;
  }
}

.top-10-text {
  color: #222;
  font-family: "Mont", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 30px;
}

.banner {
  border-radius: 30px;
  background: #4343FF;
  margin: 100px 0 260px;
  position: relative;
  padding: 84px 20px 35px;

  &::before {
    content: "";
    position: absolute;
    background-image: url(../images/group-19.webp);
    background-repeat: no-repeat;
    bottom: -100px;
    left: -50px;
    width: 468px;
    height: 287px;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url(../images/cloud.webp);
    background-repeat: no-repeat;
    bottom: -43px;
    right: -65px;
    width: 408px;
    height: 292px;
    z-index: 1;
  }
}

.banner-item {
  color: #FFF;
  text-align: center;
  font-family: "Mont-Bold", sans-serif;
  font-size: 22px;
  font-weight: 800;
  font-style: normal;
  line-height: normal;
  max-width: 893px;
  margin: 0 auto;
}

.btn-box {
  display: block;
  margin: 55px auto;
  width: 305px;
}

.bad-mom {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -100px;
    left: 0px;
    width: 293px;
    height: 623px;
    background-image: url(../images/elem-6.svg);
    background-repeat: no-repeat;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    top: -155px;
    right: 0px;
    width: 420px;
    height: 623px;
    background-image: url(../images/elem-7.svg);
    background-repeat: no-repeat;
    z-index: -1;
  }

  .frame {
    max-width: 847px;
    min-height: 586px;
    border-radius: 20px;
    border: 2px solid #222;
    background: #FFF;
    padding: 40px 50px 25px 37px;
  }

  h2 {
    margin: 0 0 32px;
  }
}

.bad-mom-item {
  color: #000;
  text-align: center;
  font-family: "Mont-Bold", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  max-width: 735px;
  margin: 35px auto 0px;
}

.bad-mom .btn-box {
  margin: 85px auto;
}

ul>li {
  list-style-type: none;
  font-family: "Mont", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  padding: 5px 0 15px 21px;
  position: relative;
}

li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  width: 12px;
  height: 12px;
  background-color: #FFCAD8;
  border: 2px solid #FF5884;
  border-radius: 10px;
}

.speaker {
  margin-top: 100px;
}

.speaker-img {
  margin-left: -90px;
  margin-top: -40px;
}

.title-block {
  display: flex;
  align-items: center;
  margin: 100px 0 37px;

  h2 {
    margin: 0;
  }
}

.speaker-frame {
  font-family: "Mont-Bold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #fff;
  border: 2px solid #222222;
  border-radius: 60px;

  width: 232px;
  height: 60px;
  padding: 18px 33px;
  white-space: nowrap;
  margin-left: 22px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    right: -20px;
    top: -2px;
    width: 100%;
    height: 60px;
    background-color: #4343FF;
    border: 2px solid #222222;
    border-radius: 60px;
    z-index: -1;
  }
}

.speaker-item li {
  padding: 5px 0 20px 21px;
}

.speaker-slider {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 850px;
  width: 100%;

  .slick-slide {
    margin: 0 10px;
  }

  .slick-dots {
    bottom: -50px;
  }

  .item {
    img {
      border-radius: 20px;
      width: 100%;
    }
  }
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    position: relative;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 0 5px;
    padding: 15px;
    cursor: pointer;

    &::before {
      display: none;
    }

    &:hover,
    &:focus {
      &:before {
        background-color: #4343FF;
      }
    }

    button {
      border: 0;
      background: transparent;
      display: block;
      height: 12px;
      width: 12px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer;

      &:hover,
      &:focus {
        &:before {
          background-color: #4343FF;
          opacity: 0.7;
        }
      }

      &:before {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 12px;
        height: 12px;
        content: "";
        background-color: #FFF;
        border: 2px solid #4343FF;
        border-radius: 12px;
      }
    }

    &.slick-active button:before {
      background-color: #4343FF;
    }
  }
}

.smi-list {
  min-height: 100px;
  max-width: 850px;
  margin: 150px auto 0;

  .slick-slide,
  .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.training {
  h2 {
    margin-top: 100px;
  }

  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .frame {
    max-width: 305px;
    width: 100%;
    min-height: 182px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 2px solid #222;
    background: #FFF;
    margin: 30px 0 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 34px;
      left: 15px;
      width: 12px;
      height: 12px;
      background-color: #FFCAD8;
      border: 2px solid #FF5884;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      right: -10px;
      background: #FF5884;
      border-radius: 20px;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .text {
      color: #000;
      font-family: "Mont", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 60px 20px 20px 20px;
    }
  }
}

.training-img {
  max-width: 650px;
  width: 180%;
  height: auto;
  position: relative;
  left: -26%;
  top: -30px;
  z-index: -2;
}

.training .btn-box {
  margin-top: -30px;
}

.program {
  h2 {
    margin: 150px auto 0;
  }

  .wrap {
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
  }
}

.program-box {
  max-width: 301px;

  .box-number {
    color: #EAEAF0;
    font-family: "Mont-Bold", sans-serif;
    font-size: 118px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
  }

  .box-title {
    color: #4343FF;
    font-family: "Mont-Bold", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    position: absolute;
    bottom: 42px;
    z-index: 2;
  }

  .box-title-item {
    color: #222;
    font-family: "Mont-Bold", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin: -40px 0 20px;
  }

  .box-text {
    color: #222;
    font-family: Mont, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.price {
  margin-top: 150px;
  z-index: 0;

  h2 {
    color: #FFF;
    text-align: center;
    font-family: "Mont-Heavy", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
    padding-top: 90px;
  }

  .bonus-block {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-bonus {
    color: #000;
    font-family: "Mont", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    max-width: 262px;
  }

  .header-bonus-img {
    margin-right: 5px;
    margin-left: -8px;
  }
}

.timer {
  color: #FF4E7C;
  text-align: center;
  font-family: "Mont-Heavy", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  margin: 11px auto -50px;
}

.price-bg {
  background-color: #4343FF;
  border-radius: 40px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 7%;
    left: -55px;
    width: 181px;
    height: 446px;
    background-image: url(../images/elem-10.webp);
    background-repeat: no-repeat;
  }

  &::after {
    position: absolute;
    content: "";
    top: 84%;
    right: -37px;
    width: 198px;
    height: 283px;
    z-index: 0;
    background-image: url(../images/elem-11.webp);
    background-repeat: no-repeat;
  }
}

.price-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
}


.price-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 415px;
  width: 100%;
  background-color: #fff;
  border: 2px solid #222222;
  border-radius: 20px;
  position: relative;
  bottom: -75px;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #4343FF;
    border: 2px solid #222222;
    border-radius: 20px;
    z-index: -1;
  }
}

.samostijnyj {
  position: relative;
  z-index: 3;

  &::before {
    position: absolute;
    content: "";
    top: -2px;
    left: -2px;
    right: -2px;
    height: 100%;
    background-image: url(../images/bg-samost.svg);
    background-repeat: no-repeat;
    background-position: top center;
    z-index: -1;
  }
}

.psyh {
  position: relative;
  z-index: 3;

  &::before {
    position: absolute;
    content: "";
    top: -2px;
    left: -2px;
    right: -2px;
    height: 100%;
    background-image: url(../images/bg-psyh.svg);
    background-repeat: no-repeat;
    background-position: top center;
    z-index: -1;
  }
}

.price-title {
  color: #FFF;
  text-align: center;
  font-family: "Mont-Bold", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;

  p {
    color: #FFF;
    text-align: center;
    font-family: "Mont", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: lowercase;
    margin: 36px 0 4px;
  }
}

.price {
  .bonus-block {
    justify-content: center;
    margin: 58px 10px 0;
  }
}

.price .top ul {
  margin: 30px 50px;
}

.price .top li {
  font-family: "Mont", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #222222;
  padding-left: 10px;

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0px;
    width: 3px;
    height: 3px;
    background-color: #000000;
    border: none;
    margin-right: 0px;
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px dashed rgba(34, 34, 34, 0.3);
  border-width: 3px;
}

.price-bl {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-bl ul {
  margin: 10px auto 20px;
}

.price-full {
  font-family: "Mont", sans-serif;
  font-size: 18px;
  text-align: center;
  color: #222222;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0 10px;

  s {
    font-family: "Mont", sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
}

.price-today {
  font-family: "Mont-Bold", sans-serif;
  color: #FF4E7C;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;

  span {
    font-size: 50px;

    i {
      text-transform: lowercase;
      font-size: 36px;
    }
  }
}

.price {
  .btn .zirka {
    left: 227px;
  }

  .btn-block-item {
    left: 242px;
  }
}

.price .btn {
  padding: 30px 75px;
  padding-left: 20px;
  cursor: pointer;
}

.results {
  h2 {
    margin: 170px 0 0;
  }

  .frame {
    max-width: 887px;
    min-height: 393px;
    border-radius: 20px;
    border: 2px solid #222;
    background: #FFF;
    padding: 35px 45px 25px 50px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      right: -10px;
      width: 100%;
      height: 100%;
      background-color: #4343FF;
      border-radius: 20px;
      z-index: -1;
    }
  }
}

.results-item {
  color: #000;
  font-family: "Mont", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 24px auto 34px;
}

.results .btn-box {
  margin: 85px auto;
}

.reviews {
  margin-top: 130px;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: -500px;
    left: 0;
    width: 482px;
    height: 623px;
    background: url(../images/elem-4.webp);
    background-repeat: no-repeat;
    z-index: -2;
  }

  &::after {
    position: absolute;
    content: '';
    bottom: -320px;
    right: 0;
    width: 426px;
    height: 689px;
    background: url(../images/elem-5.webp);
    background-repeat: no-repeat;
    z-index: -2;
  }

  h2 {
    margin-top: 42px;
  }
}

.reviews-img {
  width: 100%;
}

.reviews-slider {
  position: relative;
  max-height: 695px;
  height: 100%;
  max-width: 290px;
  bottom: -47px;

  img {
    margin-top: 50%;
    max-width: 280px;
  }

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 460px;
    height: 695px;
    background: url(../images/reviews-phone.webp);
    background-repeat: no-repeat;
    z-index: -1;
  }

  .slick-slide,
  .slick-track {
    display: flex;
    justify-content: center;
  }

  .slick-dots {
    bottom: -50px;
  }
}

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;

  &:hover,
  &:focus {
    outline: none;
    background: transparent;
    color: transparent;

    &:before {
      opacity: $slick-opacity-on-hover;
    }
  }

  &.slick-disabled:before {
    opacity: $slick-opacity-not-active;
  }

  &:before {
    font-family: $slick-font-family;
    font-size: 20px;
    line-height: 1;
    color: $slick-arrow-color;
    opacity: $slick-opacity-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.slick-prev,
.slick-next {
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #fff;
  border: 2px solid #222222;
  position: absolute;
}

.slick-prev {
  left: -100px;

  &:before {
    position: absolute;
    content: url(../images/arrow.svg);
    top: 8px;
    left: 10px;
  }
}

.slick-next {
  right: -100px;

  &:before {
    position: absolute;
    content: url(../images/arrow-next.svg);
    top: 8px;
    right: 10px;
  }
}

.answers {
  h2 {
    margin: 100px auto 40px;
  }
}

.answers-border {
  max-width: 846px;
  min-height: 70px;
  border-radius: 15px;
  border: 2px solid #222;
  background: #FFF;
  margin: 20px auto;
  padding: 15px 24px 15px 40px;
}

.accordion {
  color: #222;
  font-family: "Mont-Bold", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: left;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-content {
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-out;

  p {
    color: #222;
    font-family: "Mont", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 18px;
  }
}

.bg-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4343FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(45deg);
  transition: transform 0.3s ease-out;
  margin-top: -6px;
}

.footer {
  margin-top: 100px;
  background: #EAEAF0;
  text-align: center;

  .logo {
    margin: 20px 0;
    width: 156px;
    height: 103px;
  }

  a {
    font-family: "Mont", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #222222;
    transition: border-bottom 0.3s ease;

    &:hover {
      color: #FF4E7C;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #FF4E7C;
      transition: width 0.3s ease;
    }

    &:hover::before {
      width: 100%;
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
  }

  ul li {
    text-align: center;
    padding: 5px 5px;

    &::before {
      display: none;
    }
  }
}

.mess {
  img {
    width: 35px;
    height: 35px;
    transition: 0.3s ease;

    &:hover {
      transform: scale(1.3);
    }
  }
}

.viber {
  margin-left: 8px;
}

.phone {
  justify-content: center !important;
  margin: 0 !important;
}

@media screen and (min-width: 768px) {
  .reviews-slider {
    left: -20px;
  }
}


@media screen and (min-width: 1200px) and (max-width: 1260px) {
  .bonus-block {
    margin-right: -40px;
  }
}

@media screen and (max-width: 1330px) {
  .who-this-course .wrap {
    max-width: 700px;
  }
}

@media screen and (max-width: 1199px) {

  .top-10::before,
  .top-10::after,
  .reviews::before,
  .reviews::after {
    display: none;
  }
}

@media screen and (max-width: 1439px) {
  .banner {
    margin: 80px 65px;
  }

  .price-bg {
    margin: 0 50px;
  }

  .bad-mom {
    &::after {
      top: 75px;
    }
  }
}

.fancybox-content {
  max-width: 532px;
  width: 100%;
  max-height: 614px;
  height: 100%;
  border-radius: 20px;
}

.form-title {
  color: #4343FF;
  text-align: center;
  font-family: Mont-heavy, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  margin: 0px;
}

.form-subtitle {
  color: #222;
  text-align: center;
  font-family: Mont, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 324px;
  margin: 10px auto 20px;
}

.f-popup form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 5;
}

.f-popup form label {
  color: #000;
  font-family: Mont, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 20px;
  padding-bottom: 3px;
}

.f-popup form input {
  width: 410px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #222;
  margin: 0 auto;
  font-size: 18px;
}

.f-popup form .btn {
  padding: 30px 32px;
  margin: 20px auto 5px;
  border: none;
  cursor: pointer;
  width: 410px;
  z-index: auto;
  text-align: center;
}

.fancybox-close-small {
  margin: 10px;
}

.fancybox-button svg {
  border: 1px solid;
  border-radius: 50%;
}


.thank-you {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: -40px;
    left: 0;
    width: 870px;
    height: 533px;
    background-image: url(../images/thank-3.webp);
    background-repeat: no-repeat;
    z-index: -1;
  }

  &::after {
    position: absolute;
    content: '';
    top: 0;
    right: -137px;
    width: 614px;
    height: 308px;
    background-image: url(../images/thank-2.webp);
    background-repeat: no-repeat;
    z-index: -1;
  }

  .container {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 320px;
      left: -290px;
      width: 450px;
      height: 290px;
      background-image: url(../images/thank-1.webp);
      background-repeat: no-repeat;
      z-index: -1;
    }

    &::after {
      position: absolute;
      content: '';
      top: 288px;
      right: -40px;
      width: 220px;
      height: 446px;
      background-image: url(../images/thank-4.svg);
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  .logo-center {
    text-align: center;
  }

  .logo {
    width: 116px;
    height: 77px;
    margin: 60px auto 78px;
  }

  .title {
    color: #4343FF;
    font-family: "Mont-Heavy", sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;

    span {
      color: #FF4E7C;
      text-align: center;
      font-family: "Mont-Heavy", sans-serif;
      font-size: 46px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      text-transform: uppercase;
    }
  }

  .title-item {
    color: #222;
    text-align: center;
    font-family: "Mont-Bold", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    max-width: 717px;
    margin: 15px auto 43px;
  }

  .list-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 650px;

  }

  .list-title {
    color: #FF4E7C;
    font-family: "Mont-Bold", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    max-width: 717px;
    margin: 0 0 17px -20px;
  }

  ol>li {
    list-style: decimal;
    list-style-type: decimal;
  }

  .list li {
    color: #222;
    font-family: "Mont-Bold", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    max-width: 717px;
    margin: 0 0 8px;

    &::before {
      display: none;
    }
  }

  .social-title {
    color: #4343FF;
    text-align: center;
    font-family: "Mont-Bold", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    margin: 21px 0 20px;
  }

  .social {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mess {
    img {
      width: 68px;
      height: 68px;
      transition: 0.3s ease;

      &:hover {
        transform: scale(1.3);
      }
    }
  }

  .viber {
    margin-left: 0px;
    margin-right: 18px;
  }

  .text {
    color: #222;
    text-align: center;
    font-family: "Mont-Bold", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    margin: 36px auto;
    max-width: 210px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      top: -41px;
      right: 0;
      width: 28px;
      height: 40px;
      background: url(../images/arrow-1.webp) no-repeat;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1900px) {

  .head::after,
  .head .container::before,
  .who-this-course::after {
    display: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .head {
    padding-bottom: 85px;
  }

  .header-title {
    margin-top: 15px;
  }

  .subtitle {
    margin: 0 0 10px 0;
  }

  .head .bonus-block {
    max-width: 500px;
    margin-top: 10px;

    &::before,
    &::after {
      width: 96%;
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .head {
    padding-bottom: 100px;
  }

  .top-flex {
    margin-top: 10px;
  }

  .header-title {
    margin-top: 15px;
  }

  .subtitle {
    margin: 0 0 10px 0;
  }

  .head .bonus-block {
    margin-top: 0;
  }
}

body {
  background-image: url(../images/bg-noize.svg);
  background-position: center;
  @import 'MediaQueries/main';
}