@font-face {
	font-family: "Involve-Regular";
	src: url("../fonts/Involve-Regular.otf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Involve-Bold";
	src: url("../fonts/Involve-Bold.otf");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Bebas Neue Cyrillic";
	src: url("../fonts/bebasneuecyrillic.ttf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SignPainter";
	src: url("../fonts/signpainter.otf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Corsiva Hebrew";
	src: url("../fonts/corsivahebrew.ttf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Raleway-Regular";
	src: url("../fonts/Raleway-Regular.ttf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Raleway-Bold";
	src: url("../fonts/Raleway-Bold.ttf");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}