& {
  .header-img {
    margin-left: -160px;
    width: 131%;
    height: auto;
  }

  .situations .section-title {
    margin-top: 60px;
  }

  .result::before {
    bottom: -270px;
    width: 760px;
  }
}