@font-face {
	font-family: "Involve-Regular";
	src: url("../fonts/Involve-Regular.otf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Involve-SemiBold";
	src: url("../fonts/Involve-SemiBold.otf");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Involve-Bold";
	src: url("../fonts/Involve-Bold.otf");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Soyuz Grotesk";
	src: url("../fonts/Soyuz-Grotesk-Bold.otf");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}