& {
  .row>* {
    padding-right: calc(var(--bs-gutter-x) * 0.75);
    padding-left: calc(var(--bs-gutter-x) * 0.75);
  }

  .roller {
    height: 26px;

    span {
      font-size: 11px;
      letter-spacing: 1px;
      padding: 0 20px;
    }
  }

  .nav {
    margin-top: 25px;
    padding: 10px 0 20px;
  }

  .nav-main-box {
    transition: .4s;
    position: absolute;
    padding: 10px 0 20px;
    right: -100%;
    top: 75px;
    z-index: 9;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 301px;
    background: linear-gradient(176deg, #F49770 8.07%, #ED7142 53.66%);
  }

  .nav-main {
    flex-direction: column;
    justify-content: center;

    li {
      padding: 10px 0 0 0;
    }

    .link {
      &::before {
        background-color: #515151;
      }

      &:hover {
        color: #515151;
      }
    }
  }

  .show {
    right: 0px;
  }

  .logo {
    width: 90px;
    height: auto;
  }

  /*-------------------*/
  .header {
    margin-top: 0;
    overflow-x: clip;
  }

  .header .flex-left {
    justify-content: center;
  }

  .header-small-img {
    width: 66px;
    height: 46px;
  }

  .header-text {
    padding-right: 15px;
  }

  .header-title {
    text-align: center;
    font-size: 51px;
    margin: 30px auto 18px;
    line-height: 110%;
  }

  .header-subtitle {
    text-align: center;
    margin: 0 auto 25px;
  }

  .bonus-box {
    min-height: 95px;
    margin: 30px auto 20px;
  }

  .header-bonus-img {
    margin: 0 9px 0 11px;
  }

  .header-bonus {
    font-size: 16px;
  }

  .btn {
    .zirka {
      left: 195px;
    }
  }

  .btn-block-item {
    left: 211px;
  }

  .header-price {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
  }

  .flex-bottom {
    align-items: center;
  }

  .price-box {
    margin-top: 20px;
  }

  .new {
    line-height: 1;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .header .timer {
    justify-content: center;
    margin: 25px auto 15px;
  }


  /*----------------*/

  .section-title {
    text-align: center;
    font-size: 32px;
    line-height: 130%;
  }

  .title-item {
    font-size: 22px;
    line-height: normal;
  }

  .dashed::before {
    border: 1px dashed #cfc7ed;
  }

  /*----------------*/

  .who-this-course {
    padding: 30px 0;

    .section-title {
      font-size: 32px;
      margin: 0 auto 30px;
    }

    .btn {
      margin: 30px auto 20px;
      padding-left: 35px;
    }

    .foto {
      max-width: 500px;
      width: 100%;
      margin: 0 auto;
    }
  }

  /*----------------*/
  .consequences {
    padding: 30px 0;

    .title-item {
      margin: 10px auto 20px;

      span {
        line-height: 2;
      }
    }
  }

  /*----------------*/
  .banner {
    margin: 60px auto;

    &::before {
      height: 35px;
      top: -33px;
      margin-left: -1px;
    }

    &::after {
      height: 35px;
      bottom: -33px;
      margin-left: -1px;
    }

    .section-title {
      padding: 0 8px;
    }

    .text {
      padding: 30px 2px;

      span {
        letter-spacing: 0;
      }
    }
  }

  /*----------------*/

  .format-course {
    padding: 30px 0;

    .block {
      max-width: 345px;
      min-height: 182px;
      padding: 28px 20px 25px 30px;
    }

    .green {
      padding: 40px;

      .block-title {
        line-height: normal;
      }

      .btn {
        margin: 20px auto 10px;
      }

      .old {
        margin-bottom: 0;
      }
    }
  }

  /*----------------*/
  .program {
    padding: 30px 0;

    &::before,
    &::after {
      display: none;
    }

    .section-title {
      margin: 0 auto 30px;
      max-width: 570px;
    }

    .block {
      min-height: 60px;
    }

    .num {
      height: 100%;
      font-size: 20px;
      max-width: 90px;
      min-height: 60px;
    }

    .text {
      padding-left: 15px;
    }
  }

  /*----------------*/
  .format-training {
    margin: 30px auto;

    .row>* {
      padding-right: calc(var(--bs-gutter-x) * 1);
      padding-left: calc(var(--bs-gutter-x) * 1);
    }

    .section-title {
      margin: 60px 0 20px;
    }

    .btn {
      margin: 20px auto;
    }

    li {
      padding: 8px 21px 20px 60px;

      &::before {
        left: 10px;
      }
    }

    .foto {
      margin: 0 auto;
      padding: 0 20px;
    }
  }

  /*----------------*/

  .price {
    padding: 30px 0;

    .timer {
      flex-direction: column;
    }

    .title {
      font-size: 28px;
      line-height: 110%;
      padding-top: 30px;
    }

    .title::after,
    .price-bonus-box::after,
    .price-bonus-box::before {
      width: 87%;
    }

    ul {
      padding: 0 20px;
    }

    .price-bonus-box {
      padding: 20px;
      margin-bottom: 0;
    }

    .header-bonus {
      padding: 0;
    }
  }

  /*----------------*/
  .result {
    padding: 30px 0;

    .section-title {
      margin: 0 auto 20px;
    }

    .block {
      min-height: 156px;
      padding: 60px 20px 25px;
    }
  }

  /*----------------*/

  .speaker {
    margin: 30px auto;

    .row>* {
      padding-right: calc(var(--bs-gutter-x) * 1);
      padding-left: calc(var(--bs-gutter-x) * 1);
    }

    .section-title {
      margin: 50px auto 20px;
      max-width: 750px;
    }

    ul {
      margin-bottom: 0px;
    }

    li {
      padding: 8px 21px 20px 60px;

      &::before {
        left: 10px;
      }
    }

    .foto {
      margin: 0 auto;
    }
  }

  /*----------------*/

  .speaker-tv {
    padding: 30px 0;

    &::before,
    &::after {
      display: none;
    }
  }

  /*-----------------*/

  .smi-list {
    margin: 100px auto 0;

    .slick-prev {
      left: -40px;
    }

    .slick-next {
      right: -40px;
    }
  }

  /*-----------------*/
  .slick-dots li {
    margin: 0 -5px;

    button {
      &:before {
        border: 1px solid #4343FF;
      }
    }
  }

  .slick-prev,
  .slick-next {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #F6F8FC;
  }

  .slick-prev {
    left: -5px;

    &:before {
      top: 6px;
      left: 8px;
    }
  }

  .slick-next {
    right: -5px;

    &:before {
      top: 6px;
      right: 8px;
    }
  }

  /*--------------------*/
  .reviews {
    padding: 60px 0 30px;

    .section-title {
      max-width: 640px;

      span {
        white-space: nowrap;
      }
    }

    .title-item:last-of-type {
      font-size: 18px;
      margin-bottom: 0;
    }
  }

  /*----------------*/

  .answers {
    .section-title {
      padding: 0 5px;
    }
  }

  .answers-border {
    padding: 24px 10px 23px 20px;
  }

  .bg-arrow {
    padding: 0 13px;
    margin-left: 15px;
  }

  /*-----------------*/
  .footer {
    margin-top: 60px;

    .row {
      padding: 30px 0 20px;
    }

    .flex-left {
      justify-content: center;
    }

    .logo {
      width: 90px;
      height: auto;
      margin: 0 auto;
    }

    ul {
      flex-direction: column;
      justify-content: center;
      margin: 15px 0;
    }

    li {
      margin-bottom: 10px;
    }
  }

  .flex-inline {
    flex-direction: column;
    max-width: 225px;
    margin: 0 auto;

    ul {
      margin: 0;
    }

    li {
      margin: 10px auto;
    }
  }

  ul.mail {
    margin: 0;

    li {
      padding-bottom: 0;
    }
  }

  /*==================*/
  .fancybox-content {
    max-width: 344px;
    max-height: 530px;
    padding: 20px;
  }

  .form-title {
    font-size: 32px;
    line-height: 90%;
    margin: 30px auto 15px;

    span {
      line-height: 90%;
    }
  }

  .form-subtitle {
    font-size: 16px;
    max-width: 290px;
  }

  form input {
    width: 100%;
    height: 40px;
  }

  form label {
    padding-left: 0px;
    font-size: 16px;
  }

  form .btn {
    margin: 10px auto 0;
    max-width: 295px;
    width: 100%;
    height: 69px;
  }

  form .btn::after {
    height: 68px;
  }

  label[for="agree"] {
    font-size: 11px;
    padding: 14px 0 0;
  }

  form a,
  label[for=agree] {
    font-size: 11px;
  }

  /*=============*/
  @media screen and (max-width: 374px) {
    .header-text {
      padding-right: 30px;
    }

    .header-title {
      font-size: 50px;
    }

    .new {
      font-size: 40px;
    }

    .btn {
      width: 250px;
      padding-left: 20px;
      padding-right: 100px;

      .zirka {
        left: 150px;
      }
    }

    .btn-block-item {
      left: 166px;
    }

    //--------
    .price .btn {
      width: 250px;
    }

    //--------
    .format .green .block-title {
      padding: 0;
    }

    //--------
    .fancybox-content {
      max-height: 510px;
      padding: 15px;
    }

    .fancybox-close-small {
      margin: 0;
    }

    .form-title {
      font-size: 34px;
    }

    form input {
      width: 100%;
    }

    form a,
    label[for=agree] {
      font-size: 11px;
    }

    form .btn {
      flex-direction: row;
      padding: 0;
    }
  }

  @media screen and (max-width: 767px) {
    .header::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 75%;
      background-color: #7455F1;
    }

    .autor-img-mob {
      display: block;
      width: 100%;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    .header {
      background-color: #7455F1;
    }

    .autor-img-mob-1 {
      display: block;
      max-width: 500px;
      width: 100%;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 991px) {
    .header {
      background-image: none;
      padding-bottom: 0;
    }
  }

  @media screen and (min-width:992px) and (max-width: 1023px) {
    .header-price {
      flex-direction: row;
      align-items: flex-start;
    }

    .header .timer {
      margin-top: 0;
    }
  }
}