@font-face {
	font-family: "Mont-Thin";
	src: url("../fonts/Mont-Thin.eot");
	src: url("../fonts/Mont-Thin.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Mont-Thin.ttf") format("truetype"),
		url("../fonts/Mont-Thin.woff") format("woff"),
		url("../fonts/Mont-Thin.woff2") format("woff2"),
		url("../fonts/Mont-Thin.svg") format("svg");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Mont";
	src: url("../fonts/Mont-Light.eot");
	src: url("../fonts/Mont-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Mont-Light.svg") format("svg"),
		url("../fonts/Mont-Light.ttf") format("truetype"),
		url("../fonts/Mont-Light.woff") format("woff"),
		url("../fonts/Mont-Light.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Mont-Regular";
	src: url("../fonts/Mont-Regular.eot");
	src: url("../fonts/Mont-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Mont-Regular.svg") format("svg"),
		url("../fonts/Mont-Regular.ttf") format("truetype"),
		url("../fonts/Mont-Regular.woff") format("woff"),
		url("../fonts/Mont-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Mont-SemiBold";
	src: url("../fonts/Mont-SemiBold.eot");
	src: url("../fonts/Mont-SemiBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Mont-SemiBold.svg") format("svg"),
		url("../fonts/Mont-SemiBold.ttf") format("truetype"),
		url("../fonts/Mont-SemiBold.woff") format("woff"),
		url("../fonts/Mont-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Mont-Bold";
	src: url("../fonts/Mont-Bold.eot");
	src: url("../fonts/Mont-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Mont-Bold.svg") format("svg"),
		url("../fonts/Mont-Bold.ttf") format("truetype"),
		url("../fonts/Mont-Bold.woff") format("woff"),
		url("../fonts/Mont-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Mont-Heavy";
	src: url("../fonts/Mont-Heavy.eot");
	src: url("../fonts/Mont-Heavy.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Mont-Heavy.ttf") format("truetype"),
		url("../fonts/Mont-Heavy.woff") format("woff"),
		url("../fonts/Mont-Heavy.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Mont-Black";
	src: url("../fonts/Mont-Black.eot");
	src: url("../fonts/Mont-Black.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Mont-Black.svg") format("svg"),
		url("../fonts/Mont-Black.ttf") format("truetype"),
		url("../fonts/Mont-Black.woff") format("woff"),
		url("../fonts/Mont-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}


@font-face {
	font-family: "SF UI Display light";
	src: url("../fonts/sf-ui-display-thin-58646e9b26e8b.otf");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "SF UI Display";
	src: url("../fonts/sf-ui-display-bold.otf");
	font-weight: 700;
	font-style: normal;
}