& {
  .roller {
    height: 26px;

    span {
      font-size: 11px;
    }
  }

  .header {
    background-image: url(../images/header-bg-mobile.webp?v=1.0);
    padding-bottom: 0px;
    margin-top: 26px;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 80%;
      background-color: #2A2A2A;
      z-index: -2;
    }
  }

  .top-logo {
    width: 78px;
    height: 46px;
    margin-bottom: 20px;
  }

  .top-block {
    justify-content: center;
    margin-top: 10px;
    gap: 0 20px;
  }

  .top-btn {
    max-width: 345px;
    margin: 15px 0 30px;
  }

  .header-subtitle {
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    margin: 30px auto 28px;
    padding: 0 50px;

    span {
      line-height: 160%;
    }
  }

  .header-title {
    text-align: center;
    font-size: 43px;
    line-height: 100%;
    max-width: 480px;
    margin: 0 auto;
  }

  .header .block {
    width: 305px;
    height: 74px;
    margin: 20px auto;
  }

  .header .btn {
    width: 345px;
    margin: 10px auto 0;
    padding: 0 85px;
  }

  .header .timer {
    margin: 20px auto 0;
  }
  
  .header-img-mob {
    display: block;
    margin: 0px auto 0;
    width: 100%;
    height: 100%;
  }

  //------
  .section-title {
    font-size: 38px;
  }

  .title-item {
    font-size: 18px;
  }

  //------
  .video-lesson {
    padding: 60px 0 0;

    .title-item {
      margin: 20px auto;
    }

    /* .video-box {
      position: relative;
      padding-bottom: 120%;
      width: 67%;
      height: 100%;
      overflow: hidden;
    } */
  }

  //------
  .price {
    padding: 60px 0;

    .section-title {
      margin-bottom: 30px;
    }

    .title{
      // flex-direction: column;
      ul {
        // margin: 10px auto;
      }
    }

    ul{
      padding-bottom: 10px;
    }

    .course-block {
      // max-width: fit-content;
      margin: 15px 15px 0px 30px;
    }
  }

  //------
  .spec-offer {
    .section-title {
      text-align: center;
      margin: 0 auto 20px;
      padding: 0 45px;
    }

    .text {
      padding: 0 5px;
    }

    .spec-offer-img {
      max-width: 500px;
      margin: 20px auto 0;
    }
  }

  //------
  .spec-package {
    padding-top: 60px;

    .section-title {
      margin-bottom: 20px;
    }

    .block {
      max-width: 413px;
      padding: 40px 23px 40px 20px;

      &::before {
        display: none;
      }

      &::after {
        position: absolute;
        content: '';
        bottom: 280px;
        left: 0;
        width: 100%;
        height: 1px;
        border-top: 2px dashed #C4CDDF;
      }
    }

    ul {
      margin: 0px;
    }

    .price-box .old {
      max-width: none;
    }
  }

  //------
  .not-sure {
    padding: 60px 0 0;

    .section-title {
      text-align: center;
      margin: 0 auto 20px;
    }

    .mess {
      margin: 15px 7px;

      img {
        width: 50px;
        height: 50px;
      }
    }

    .tg {
      margin-left: 0px;
    }
  }

  //------
  .footer {
    margin-top: 0px;

    .row {
      padding: 30px 0 20px;
    }

    .flex-left {
      text-align: center;
    }

    .logo {
      width: 100px;
      height: 65px;
      margin: 0 auto;
    }

    ul {
      flex-direction: column;
      justify-content: center;
      margin: 15px 0;
    }

    li {
      margin-bottom: 20px;
    }
  }

  .flex-inline {
    flex-direction: column;
    max-width: 225px;
    margin: 0 auto;

    ul {
      margin: 0;
    }

    li {
      margin: 10px auto;
    }

  }

  ul.mail {
    margin: 0;

    li {
      padding-bottom: 0;
    }
  }

  //------
  .fancybox-content {
    padding: 20px;
  }

  .form-title {
    font-size: 46px;
    margin-top: 30px;
  }

  .form-subtitle {
    font-size: 18px;
    max-width: 290px;
    margin: 10px auto 20px;

  }

  form label {
    padding-left: 0px;
  }

  form .btn {
    margin: 5px auto 0;
    max-width: 295px;
    width: 100%;
    height: 69px;
  }

  form .btn::after {
    height: 68px;
  }

  label[for="agree"] {
    font-size: 11px;
    padding: 14px 0 0;
  }

  form a,
  label[for=agree] {
    font-size: 12px;
  }
  #popup3 ul li {
    padding: 0 0 8px 10px;
    font-size: 17px;
  }


  @media screen and (max-width: 374px) {
    .top-block {
      justify-content: center;
      margin-top: 10px;
      gap: 0 13px;
    }

    .top-link {
      font-size: 16px;
    }

    .header-subtitle {
      font-size: 16px;
      padding: 0 40px;
    }

    .header-subtitle span {
      font-size: 15px;
    }

    .header-title {
      font-size: 37px;
    }

    .header .btn {
      width: 250px;
      padding: 0 40px;
    }

    .spec-offer .section-title {
      padding: 0;
    }

    .price ul {
      padding: 0 10px 15px;
    }
    .price .toggle-btn {
      font-size: 12px;
    }
    .price .svd .title span{
      font-size: 30px;
    }
    .price .svd .title li {
      text-align: center;
      padding-left: 65px;
      padding-right: 65px;
    }
    //----
    .fancybox-content {
      padding: 15px;
    }

    .fancybox-close-small {
      margin: 0;
    }

    .form-title {
      font-size: 36px;
    }

    form input {
      width: 100%;
      height: 50px;
      margin-bottom: 4px;
    }
    form .btn {
      font-size: 16px;
      height: 60px;
      &::after{
        height: 60px;
      }
    }
    form a,
    label[for=agree] {
      font-size: 11px;
    }

    #popup3 ul li {
      padding: 0 0 5px 10px;
      font-size: 14px;
      &::before {
        left: -22px;
        top: -4px;
      }
    }
  }

  @media screen and (max-width: 674px) {
    .spec-package {
      &::before {
        height: 970px;
      }

      &::after {
        top: 969px;
      }
    }
  }

  @media screen and (min-width: 570px) {
    .header {
      padding-bottom: 50px;
    }

    .header-img-mob {
      display: none;
    }
  }
  @media screen and (max-width:887px) {
    .price::after {
      display: none;
    }
    .not-sure::after {
      bottom: -15%;
      width: 100%;
      background-size: cover;
      height: 530px;
      opacity: 0.3;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @media screen and (min-width: 991px) and (max-width: 1023px) {
    .header {
      background-image: url(../images/header-bg-desktop.webp?v=1.0);
      position: static;
      padding-bottom: 100px;

      &::before {
        height: 70%;
      }
    }
    .header .timer {
      margin: 20px 0 0;
      max-width: 345px;
    }
    
    .top-block {
      margin: 20px 0px 30px 0;
      max-width: none;
      justify-content: flex-start;
    }

    .top-btn {
      max-width: 260px;
      margin: 0;
    }

    .header-subtitle {
      text-align: left;
      margin: 0 0 20px;
      padding: 0;
    }

    .header-title {
      text-align: left;
      margin: 0;
      max-width: 480px;
    }

    .header .block {
      margin: 20px 0;
    }

    .header .btn {
      margin: 10px 0 0;
    }

    .header-img-mob {
      display: none;
    }
  }

  @media screen and (max-width: 991px) {
    .spec-offer-img {
      width: inherit;
      height: auto;
    }
  }

  .header::after {
    display: none;
  }

  .price,
  .spec-package {

    .psevdo::before,
    .psevdo::after {
      display: none;
    }
  }
}